@charset "utf-8";
.ThemeOfficeMenu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; CURSOR: default; PADDING-TOP: 0px; FONT-FAMILY: "微軟正黑體",verdana, arial, sans-serif; WHITE-SPACE: nowrap
}
.ThemeOfficeSubMenuTable {
	PADDING-RIGHT: 3px;
	PADDING-LEFT: 3px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 3px;
	CURSOR: default;
	PADDING-TOP: 3px;
	FONT-FAMILY: "微軟正黑體", verdana, arial, sans-serif;
	WHITE-SPACE: nowrap;
	background-color: #FFFFFF;
}
.ThemeOfficeSubMenu {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	Z-INDEX: 100;
FILTER: progid:DXImageTransform.Microsoft.Shadow(color=#BDC3BD, Direction=135, Strength=4); 	VISIBILITY: hidden;
	PADDING-BOTTOM: 0px;
	OVERFLOW: visible;
	PADDING-TOP: 0px;
	POSITION: absolute;
	background-color: #FFFFFF;
	border: 1px solid #D9D7D2;
}
.ThemeOfficeSubMenuTable {
	OVERFLOW: visible
}
.ThemeOfficeMainItem {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; CURSOR: default; BORDER-BOTTOM: 0px; WHITE-SPACE: nowrap
}
.ThemeOfficeMainItemHover {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; CURSOR: default; BORDER-BOTTOM: 0px; WHITE-SPACE: nowrap
}
.ThemeOfficeMainItemActive {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; CURSOR: default; BORDER-BOTTOM: 0px; WHITE-SPACE: nowrap
}
.ThemeOfficeMenuItem {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; CURSOR: default; BORDER-BOTTOM: 0px; WHITE-SPACE: nowrap
}
.ThemeOfficeMenuItemHover {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; CURSOR: default; BORDER-BOTTOM: 0px; WHITE-SPACE: nowrap
}
.ThemeOfficeMenuItemActive {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; CURSOR: default; BORDER-BOTTOM: 0px; WHITE-SPACE: nowrap
}
/*主選單文字*/
.ThemeOfficeMainItem {
	line-height: 35px;
	color: #000;
}
.ThemeOfficeMainItemHover {
	BACKGROUND-COLOR: #a5f4e7;
	color: #000;
}
.ThemeOfficeMainItemActive {
	BACKGROUND-COLOR: #ffffff
}
.ThemeOfficeMenuItem {
	BACKGROUND-COLOR: white
}
.ThemeOfficeMenuItemHover {
	BACKGROUND-COLOR: #F3F3F3
}
.ThemeOfficeMenuItemActive {
	BACKGROUND-COLOR: #e7e7e7
}
.ThemeOfficeMainItem {
	PADDING-RIGHT: 2px;
	PADDING-LEFT: 6px;
	PADDING-BOTTOM: 1px;
	PADDING-TOP: 1px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: b7f7ed;
	border-left-color: b7f7ed;
}
TD.ThemeOfficeMainItemHover {
	PADDING-RIGHT: 1px;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 1px;
	border-right-width: 1px;
	border-right-style: solid;
	border-top-color: #c6c3bd;
	border-right-color: #9feee2;
	border-bottom-color: #c6c3bd;
	border-left-color: #abf1e6;
	border-left-width: 1px;
	border-left-style: solid;
}
TD.ThemeOfficeMainItemActive {
	BORDER-RIGHT: #c6c3bd 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #c6c3bd 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #c6c3bd 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #c6c3bd 1px solid
}
.ThemeOfficeMainFolderLeft {
	
}
.ThemeOfficeMainItemLeft {
	
}
.ThemeOfficeMainFolderText {
	
}
.ThemeOfficeMainItemText {
	
}
.ThemeOfficeMainFolderRight {
	
}
.ThemeOfficeMainItemRight {
	
}
TD.ThemeOfficeMainFolderLeft {
	PADDING-RIGHT: 2px; BORDER-TOP: #d6d6d6 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; BORDER-LEFT: #d6d6d6 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #a3a3a3 1px solid
}
TD.ThemeOfficeMainItemLeft {
	PADDING-RIGHT: 2px; BORDER-TOP: #d6d6d6 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; BORDER-LEFT: #d6d6d6 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #a3a3a3 1px solid
}
TD.ThemeOfficeMainFolderText {
	PADDING-RIGHT: 5px; BORDER-TOP: #d6d6d6 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #a3a3a3 1px solid; WHITE-SPACE: nowrap
}
TD.ThemeOfficeMainItemText {
	PADDING-RIGHT: 5px; BORDER-TOP: #d6d6d6 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #a3a3a3 1px solid; WHITE-SPACE: nowrap
}
TD.ThemeOfficeMainFolderRight {
	BORDER-RIGHT: #a3a3a3 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #d6d6d6 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #a3a3a3 1px solid
}
TD.ThemeOfficeMainItemRight {
	BORDER-RIGHT: #a3a3a3 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #d6d6d6 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #a3a3a3 1px solid
}
TR.ThemeOfficeMainItem TD.ThemeOfficeMainFolderLeft {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 2px; BORDER-TOP: 0px; PADDING-LEFT: 1px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px; WHITE-SPACE: nowrap
}
TR.ThemeOfficeMainItem TD.ThemeOfficeMainItemLeft {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 2px; BORDER-TOP: 0px; PADDING-LEFT: 1px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px; WHITE-SPACE: nowrap
}
TR.ThemeOfficeMainItem TD.ThemeOfficeMainFolderText {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 5px; BORDER-TOP: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px
}
TR.ThemeOfficeMainItem TD.ThemeOfficeMainItemText {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 5px; BORDER-TOP: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px
}
TR.ThemeOfficeMainItem TD.ThemeOfficeMainItemRight {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 1px; BORDER-TOP: 0px; PADDING-LEFT: 4px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px
}
TR.ThemeOfficeMainItem TD.ThemeOfficeMainFolderRight {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 1px; BORDER-TOP: 0px; PADDING-LEFT: 4px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px
}
.ThemeOfficeMenuFolderLeft {
	PADDING-RIGHT: 3px; BORDER-TOP: #d6d6d6 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 2px; BORDER-LEFT: #d6d6d6 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #a3a3a3 1px solid; WHITE-SPACE: nowrap
}
.ThemeOfficeMenuItemLeft {
	PADDING-RIGHT: 3px; BORDER-TOP: #d6d6d6 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 2px; BORDER-LEFT: #d6d6d6 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #a3a3a3 1px solid; WHITE-SPACE: nowrap
}
.ThemeOfficeMenuFolderText {
	PADDING-RIGHT: 5px; BORDER-TOP: #d6d6d6 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #a3a3a3 1px solid; WHITE-SPACE: nowrap
}
.ThemeOfficeMenuItemText {
	PADDING-RIGHT: 5px; BORDER-TOP: #d6d6d6 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #a3a3a3 1px solid; WHITE-SPACE: nowrap
}
.ThemeOfficeMenuFolderRight {
	BORDER-RIGHT: #a3a3a3 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #d6d6d6 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #a3a3a3 1px solid; WHITE-SPACE: nowrap
}
.ThemeOfficeMenuItemRight {
	BORDER-RIGHT: #a3a3a3 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #d6d6d6 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #a3a3a3 1px solid; WHITE-SPACE: nowrap
}
.ThemeOfficeMenuItem .ThemeOfficeMenuFolderLeft {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 3px; BORDER-TOP: 0px; PADDING-LEFT: 2px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #ffffff
}
.ThemeOfficeMenuItem .ThemeOfficeMenuItemLeft {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 3px; BORDER-TOP: 0px; PADDING-LEFT: 2px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #ffffff
}
.ThemeOfficeMenuItem .ThemeOfficeMenuFolderText {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 5px; BORDER-TOP: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px
}
.ThemeOfficeMenuItem .ThemeOfficeMenuItemText {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 5px; BORDER-TOP: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px
}
.ThemeOfficeMenuItem .ThemeOfficeMenuFolderRight {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 1px; BORDER-TOP: 0px; PADDING-LEFT: 4px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px
}
.ThemeOfficeMenuItem .ThemeOfficeMenuItemRight {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 1px; BORDER-TOP: 0px; PADDING-LEFT: 4px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px
}
.ThemeOfficeMenuSplit {
	BORDER-TOP: #c6c3bd 1px solid; MARGIN: 2px; OVERFLOW: hidden; HEIGHT: 1px
}
.ThemeOfficeMenuItem IMG.seq1 {
	DISPLAY: inline
}
.ThemeOfficeMenuItemHover seq2 {
	DISPLAY: inline
}
.ThemeOfficeMenuItemActive seq2 {
	DISPLAY: inline
}
.ThemeOfficeMenuItem .seq2 {
	DISPLAY: none
}
.ThemeOfficeMenuItemHover .seq1 {
	DISPLAY: none
}
.ThemeOfficeMenuItemActive .seq1 {
	DISPLAY: none
}
