<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]--><head>
<meta charset="utf-8" />
<title><{$Nclass_name}> - <{ $HtmlTitle }></title>
<meta content="<{ $Meta_desc }>" name="description">
<meta content="<{ $Meta_keyword }>" name="keywords">
<meta name="Author" content="ESIT" />
<meta property="og:title" content="<{ $HtmlTitle }>" />
<meta property="og:type" content="article" />
<meta property="og:url" content="<{$Site_Url}>/article/article<{$news_id}>" />
<meta property="og:site_name" content="<{ $HtmlTitle }>" />
<meta property="og:description" content="<{ $Brief }>" />
<!-- mobile settings -->
<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
<link rel="shortcut icon" href="<{ $Site_Url }>/images/favicon.ico" />
<!-- CORE CSS -->
		<link href="<{ $Site_Url }>/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<!-- WEB FONTS : use %7C instead of | (pipe) -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />

		<!-- THEME CSS -->
		<link href="<{ $Site_Url }>/assets/css/essentials.css" rel="stylesheet" type="text/css" />
		<link href="<{ $Site_Url }>/assets/css/layout.css" rel="stylesheet" type="text/css" />
		<!-- PAGE LEVEL SCRIPTS -->
		<link href="<{ $Site_Url }>/assets/css/header-1.css" rel="stylesheet" type="text/css" />
		<link href="<{ $Site_Url }>/assets/css/layout-shop.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="<{ $Site_Url }>/js/function.js"></script>
</head>
<body class="smoothscroll enable-animation <{ if $boxed eq 1 }>boxed<{ /if }> <{ if $use_pattern eq 1 }>pattern<{$pattern_id}><{ /if }>"
<{ if $use_background eq 1 }> data-background="<{ $Site_Url }>/UploadFile/LogoPic/<{ $shop_background }>" <{ /if }> >
<{ include_php file="include/menu.php" }>
  <{ if $Ear_radio eq 1 }>
	  <{ include_php file="modules/advertising/ear.php" }>
  <{ /if }>
 <!-- PAGE HEADER -->
			<section class="page-header page-header-xs">
				<div class="container">
					<h1 class="size-18 hidden"><{$Nclass_name}></h1>

					<!-- breadcrumbs -->
					<ol class="breadcrumb breadcrumb-inverse">
						<li><a href="<{ $Site_Url }>">首頁</a></li>
                        <li class="active"><{$Nclass_name}></li>
					</ol><!-- /breadcrumbs -->
				</div>
			</section>
<!-- /PAGE HEADER -->
<!--身體開始-->
			<section>
				<div class="container">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-0">
						<{ section name=i loop=$news_array}>						<{if $news_array[i].count > 0}>
						<div class="col-xs-12 col-sm-12 col-md-	12 col-lg-12 padding-0">

							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-20" style="position:relative; padding:0; border-bottom:1px solid #e8e8e8;padding-bottom:10px;">
    							<a href="<{ $Site_Url }>/article/<{ $news_array[i].ncid }>">

                                <div style="float:left;">
                                	<h4 class="bfont margin-bottom-0"><{ $news_array[i].ncname }></h4>
                                </div>
                                </a>
								<div style="padding:3px;border:1px solid #e8e8e8; float:right;">
                                	<a href="<{ $Site_Url }>/article/<{ $news_array[i].ncid }>">read more</a>
                                </div>
							</div>

    						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  padding-0">
    							<{ section name=j loop=$news_array[i].news  max=4}>
    							<div class="blog-post-item col-xs-12 col-sm-6 col-md-3 col-lg-3 margin-bottom-20 noborder">
                                	<div style="width:100%;" ><!--文章圖片-->
										<a class="image-hover" style="font-weight:bold" href="<{ $Site_Url }>/article/article<{$news_array[i].news[j].news_id}>">
                                        	<img class="img-responsive" src="../UploadFile/NewsPic/<{ $news_array[i].news[j].nimg }>" />
                                        </a>
									</div>
            						<div style="width:100%; float:left;">
										<div style="width:100%; float:left;margin: 0px;padding: 0px;margin-top: 10px;">
            								<!--文章大標題-->
											<h2 class="weight-500 size-16"><a href="<{ $Site_Url }>/article/article<{$news_array[i].news[j].news_id}>"><span><{ $news_array[i].news[j].ltitle }></span></a></h2>
										</div>
            							<div style="width:100%; float:left;margin: 0px;padding: 0px;margin-top: 10px;">
            								<!--文章簡述-->
											<{ $news_array[i].news[j].brief }>
            							</div>
            						</div>
            						<div style="clear:both"></div>
        						</div>
								<{/section}>
    							<div style="clear:both"></div>
							</div>
                            <div style="clear:both"></div>
						</div>						<{/if}>
					<{/section}>
					<div style="clear:both"></div>
				</div>

				</div>
			</section>
<!--身體結束-->
</div>
<{ include_php file="include/bottom.php" }>
</body>
</html>