<div class="lightbox-ajax">

	<!-- title -->
	<h4><{$Ntitle}></h4>

	<!-- body -->
	<div id="article" class="lightbox-ajax-body">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-10">
    <{$pubdate}>&nbsp;&nbsp;/&nbsp;&nbsp;<{$view}> Views <{ if $Author != '' }>&nbsp;&nbsp;/&nbsp;&nbsp;<{ $Author}><{/if}>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-10">
    <{$Img}>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <{ $Nbody }>
    </div>


<div style="clear:both"></div>
	</div>
	<!-- /body -->

</div>
