<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">

<HTML xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title><{ $HtmlTitle }> -- 帳上餘額記錄</title>

<link href="<{ $template_dir }>/css/fire.css" rel="stylesheet" type="text/css">

<link href="<{ $template_dir }>/css/menu_a.css" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="<{ $Site_Url }>/css/validationEngine.jquery.css" type="text/css"/>

<link rel="stylesheet" href="<{ $Site_Url }>/css/template.css" type="text/css"/>



<script type="text/javascript">

  var _gaq = _gaq || [];

  _gaq.push(['_setAccount', 'UA-27311679-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();

</script>

<script language="javascript" type="text/javascript" src="<{ $Site_Url }>/js/jquery-1.7.2.min.js"></script>

<script src="<{ $Site_Url }>/js/languages/jquery.validationEngine-zh_TW.js" type="text/javascript" charset="utf-8"></script>

<script src="<{ $Site_Url }>/js/jquery.validationEngine.js" type="text/javascript" charset="utf-8"></script>

<script>

jQuery(document).ready(function(){

	jQuery("#refundform").validationEngine();

});

</script>



<{ include_php file="include/include_ga.php" }>

</head>

<script language="javascript" src="<{ $Site_Url }>/js/function.js"></script>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<{if $smarty.get.hometype eq "groupon"}>

<{ include_php file="menu_groupon.php" }>

<{else}>

<{ include_php file="include/menu.php" }>

<{/if}>

<div id="body_out">

  <div id="body_center">

    <div id="body_left">

      <!--左邊開始-->

      <{ include_php file="member/left.php" }> </div>

    <!--左邊結束-->

    <div id="body_right" >

      <!--右邊邊開始-->

      <div id="title_s">

        <div id="title_s_left">

          <h1>購物金退款</h1>

        </div>

        <div id="title_s_right"><a href="<{ $Site_Url }>?hometype=<{$smarty.get.hometype}>">首頁</a> <span class="style100">／</span> <a href="<{$Site_Url}>/member/?hometype=<{$smarty.get.hometype}>">會員中心</a> <span class="style100">／</span> 購物金記錄</div>

      </div>

	  <div class="content">

	 <div style="clear:both;"></div>

	  <ul style="display: block;">

        <li class="qian1"><a href="buypointrecord.php">購物金記錄</a></li>

        <li class="qian2">我要退款</li>

      </ul>

      <div style=" float:left">您目前有 <span class="price"><{$sumpoint}></span> 購物金可用</div><br><br>

	  <div style="clear:both;"></div>

	  <div>

      <form action="buypointrefund.php" method="post" id="refundform" name="refundform">

     

       <table width="340" border="0" cellspacing="0" cellpadding="0" style="margin-left:20px;">

  <tr>

    <td colspan="2"> <input type="hidden" name="act" value="insert">

       轉帳銀行

          <input name="bank" type="text" id="bank" size="20" class="validate[required] text-input">

       

          銀行代號

<input name="bankcode" type="text" id="bankcode" size="5" class="validate[required] text-input">

             <br>

          戶　　名

          <input name="accountname" type="text" id="accountname" size="20" class="validate[required] text-input">

        <br>

          帳　　號

          <input name="account" type="text" id="account" size="20" class="validate[required] text-input"></td>

  </tr>

  <tr>

    <td width="150">退&nbsp;款&nbsp;額&nbsp; 

    <input name="point" type="text" id="point" size="10" class="validate[required,custom[onlyNumberSp],min[1],max[<{$sumpoint}>]] text-input"></td>

    <td width="200" valign="bottom" style="padding-bottom:3px"><input    name="button" id="button" value="確定" type=image src="<{ $template_dir }>/images/shopping2-0.png" ></td>

  </tr>

</table>

      </form>

      </div>

      <div style="clear:both;"></div>

      <{ if $OrderTotalNum != 0 }> <br>

      <TABLE  cellSpacing=1 cellPadding=4 width="98%" align=center  border=0 class="member"  id="table_me">

        <TBODY>

          <TR>

            <TD width="" align="center" valign="middle" nowrap class="head">申請日期</TD>

            <TD width="" align="center" valign="middle" nowrap class="head">申請退款額</TD>

            <TD width="" align="center" valign="middle" nowrap class="head">轉帳銀行</TD>

            <TD width="" align="center" valign="middle" nowrap class="head">銀行代號</TD>

            <TD width="" align="center" valign="middle" nowrap class="head">帳號</TD>

            <TD width="" align="center" valign="middle" nowrap class="head">戶名</TD>

            <TD width="" align="center" valign="middle" nowrap class="head">狀態</TD>

            <TD width="" align="center" valign="middle" nowrap class="head">備註</TD>

          </TR>

        <{ section name=list loop=$OrderList }>

        <TR>

          <TD align="center" nowrap bgcolor="#FFFFFF" class="member"><{ $OrderList[list].refundtime}></TD>

          <TD align="center" nowrap bgcolor="#FFFFFF" class="member"><{ $OrderList[list].point}></TD>

          <TD align="center" nowrap bgcolor="#FFFFFF" class="member"><{ $OrderList[list].bank}></TD>

          <TD align="center" nowrap bgcolor="#FFFFFF" class=p9v><{ $OrderList[list].bankcode}></TD>

          <TD align="center" nowrap bgcolor="#FFFFFF" class=p9v><{ $OrderList[list].account}></TD>

          <TD align="center" nowrap bgcolor="#FFFFFF" class=p9v><{ $OrderList[list].acountname}></TD>

          <TD align="center" nowrap bgcolor="#FFFFFF" class=p9v><{ if $OrderList[list].state eq 0}>申請<{elseif $OrderList[list].state eq 1}>退款成功<{else}>申請失敗<{/if}>&nbsp;</TD>

          <TD valign="middle" align="center" nowrap bgcolor="#FFFFFF" class=p9v><{ $OrderList[list].remark}></TD>

        </TR>

        <{ /section }>

      </TABLE>

      <table width="98%"  border="0" align="center">

        <tr>

          <td height="40" align="left"><{ $Nav_banner }></td>

        </tr>

      </table>

      <{ else }>

      <div align="center">

        <p></p><br><br>

        <p>尚無任何申請退款記錄!!</p>

      </div>

    <{ /if }></div>

	</div>

    <div style="clear:both;"></div>

    <!--右邊邊結束-->

  </div>

  <!--身體結束-->

</div>

<{ include_php file="include/bottom.php" }>

</body>

</html>

