
 <form action="<{ $Site_Url }>/modules/email/dingyue.php" method="post" id="regform" name="form1_dingyue" class="form-horizontal" role="form" >
    <input type="hidden" name="action" value="send"/>
	<div class="col-xs-12 col-sm-12">
        <div class="form-group">
			<input name="email" type="email" class="form-control" placeholder="請輸入email" />
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 padding-0">
		<button type="submit" class="col-xs-12 col-sm-12 btn btn-black margin-0">訂閱 / 取消</button>
	</div>
		
</form>


