<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta content="<{ $Meta_desc }>" name="description">
<meta content="<{ $Meta_keyword }>" name="keywords">
<title><{ $NcatName }> - <{ $HtmlTitle }></title>
<link href="<{ $template_dir }>/css/fire.css" rel="stylesheet" type="text/css">
<link href="<{ $template_dir }>/css/menu_a.css" rel="stylesheet" type="text/css">
<{ include_php file="include/include_ga.php" }>

</head>
<script language="javascript" src="<{ $Site_Url }>/js/function.js"></script>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<{ include_php file="include/menu.php" }>

  <{ if $Ear_radio eq 1 }>	

	  <{ include_php file="modules/advertising/ear.php" }>

  <{ /if }>  

<div id="body_out">
<div id="body_center">

  <div id="title_s">
    <div id="title_s_left">
        <h1><{ if $NcatName!='' }><{ $NcatName }><{ /if }></h1>
        </div>
        <div id="title_s_right"><a href="<{ $Site_Url }>">首頁</a> <span class="style100">／</span> <{ $NcatName }>
        </div>
      </div>
    <div class="content"><{ $Content }></div><table width="653" border="0" align="center" cellpadding="0" cellspacing="0">
        <{ if $article_title0!="" }>
        <tr align="left">
          <td width="653" height="30" valign="middle" id="underline"><img src="<{ $template_dir }>/images/an2.gif"> <{ $nidate0 }> | <{ $article_title0 }> </td>

        <{ /if }> <{ if $article_title1!="" }>
        <tr align="left">
          <td height="30" valign="middle" id="underline"><img src="<{ $template_dir }>/images/an2.gif"> <{ $nidate1 }> | <{ $article_title1 }></td>
        </tr>

        <{ /if }> <{ if $article_title2!="" }>
        <tr align="left">
          <td height="30" valign="middle" id="underline"><img src="<{ $template_dir }>/images/an2.gif"> <{ $nidate2 }> | <{ $article_title2 }></td>
        </tr>

        <{ /if }> <{ if $article_title3!="" }>
        <tr align="left">
          <td height="30" valign="middle" id="underline"><img src="<{ $template_dir }>/images/an2.gif"> <{ $nidate3 }> | <{ $article_title3 }></td>
        </tr>

        <{ /if }> <{ if $article_title4!="" }>
        <tr align="left">
          <td height="30" valign="middle" id="underline"><img src="<{ $template_dir }>/images/an2.gif"> <{ $nidate4 }> | <{ $article_title4 }></td>
        </tr>

        <{ /if }> <{ if $article_title5!="" }>
        <tr align="left">
          <td height="30" valign="middle" id="underline"><img src="<{ $template_dir }>/images/an2.gif"> <{ $nidate5 }> | <{ $article_title5 }></td>
        </tr>

        <{ /if }> <{ if $article_title6!="" }>
        <tr align="left">
          <td height="30" valign="middle" id="underline"><img src="<{ $template_dir }>/images/an2.gif"  width="3" height="7"> <{ $nidate6 }> | <{ $article_title6 }></td>
        </tr>

        <{ /if }> <{ if $article_title7!="" }>
        <tr align="left">
          <td height="30" valign="middle" id="underline"><img src="<{ $template_dir }>/images/an2.gif"> <{ $nidate7 }> | <{ $article_title7 }></td>
        </tr>

        <{ /if }> <{ if $article_title8!="" }>
        <tr align="left">
          <td height="30" valign="middle" id="underline"><img src="<{ $template_dir }>/images/an2.gif"> <{ $nidate8 }> | <{ $article_title8 }></td>
        </tr>

        <{ /if }> <{ if $article_title9!="" }>
        <tr align="left">
          <td height="30" valign="middle" id="underline"><img src="<{ $template_dir }>/images/an2.gif"> <{ $nidate9 }> | <{ $article_title9 }></td>
        </tr>

        <{ /if }> <{ if $article_title10!="" }><{ /if }>
      </table>
      <div align="center" style="margin-top:20px"><{ $ArticlePageItem }></div>
 <div style="clear:both;"></div><!--右邊邊結束-->
</div><!--身體結束-->
</div><!--身體置中結束-->
<{ include_php file="include/bottom.php" }>
</body>
</html>
