<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml">
<head>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta content="<{ $Meta_desc }>" name="description">
<meta content="<{ $Keywords }>" name="keywords">
<title><{ $Goodsname|strip_tags }> - <{ $HtmlTitle }></title>
<link href="<{ $template_dir }>/css/fire.css" rel="stylesheet" type="text/css">
<!--<link href="<{ $template_dir }>/css/menu_a.css" rel="stylesheet" type="text/css">-->
<script language="javascript" type="text/javascript" src="../js/jquery/jquery.js"></script>
<link type="text/css" rel="stylesheet" href="<{ $Site_Url }>/js/jquery/galleryview.css" />
<script language="JavaScript" type="text/JavaScript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
//-->
</script><script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27311679-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<{ include_php file="include/include_ga.php" }>

</head>
<style type="text/css">
#fullBg {
	background-color: Black;
	display:none;
	z-index:30;
	position:absolute;
	left:0px;
	top:0px;
	filter:Alpha(Opacity=30);
	/* IE */
-moz-opacity:0.4;
	/* Moz + FF */
opacity: 0.4;
}
#msg {
	position:absolute;
	z-index:40;
	display:none;
	background-color:#FFFFFF;
	border:0px solid #6633CC;
}
#msg #ctt {
	text-align:center;
	font-size:12px;
	padding-bottom:15px;
}
#cPic {
	cursor:pointer;
}
.img_wrap{
border:1px #CCCCCC solid;
padding:2px
 
}
.panel{
border:1px #CCCCCC solid;
padding:2px
}
}
</style>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="MM_preloadImages('images/q1.gif','images/q2.gif','images/q3.gif','images/q4.gif','images/q5.gif')">
<div id="fullBg"></div>
<div id="msg" style="z-index:10000">
  <div id="close"></div>
  <div id="ctt"></div>
</div>
<{ include_php file="menu.php" }>

  <{ if $Ear_radio eq 1 }>	

	  <{ include_php file="modules/advertising/ear.php" }>

  <{ /if }>  

<script language="javascript" src="<{ $Site_Url }>/js/function.js"></script>
<script language="javascript" src="<{ $Site_Url }>/js/jquery/jquery.js"></script>
<script language="javascript" src="<{ $Site_Url }>/js/jquery/jquery.easing.1.3.js"></script>
<script language="javascript" src="<{ $Site_Url }>/js/jquery/jquery.galleryview-2.1.1.js"></script>
<script language="javascript" src="<{ $Site_Url }>/js/jquery/jquery.timers-1.2.js"></script>
<script language="javascript" src="<{ $Site_Url }>/js/jquery/jquery.blockUI.js"></script>
<!--
<link rel="stylesheet" href="<{ $Site_Url }>/css/basic.css" type="text/css" />
<link rel="stylesheet" href="<{ $Site_Url }>/css/galleriffic-2.css" type="text/css" />
<script type="text/javascript" src="<{ $Site_Url }>/js/jquery/jquery.galleriffic.js"></script>
<script type="text/javascript" src="<{ $Site_Url }>/js/jquery/jquery.opacityrollover.js"></script>
-->
<!-- We only want the thunbnails to display when javascript is disabled -->
<script language="javascript">
function changeimg(picname,color){
	document.all.goodpic.src = "<{ $Site_Url }>/<{ $good_pic_path}>/" + picname;
	var slt=document.all.good_color;
	for(var i=0;i<slt.options.length;i++)
		if(slt.options[i].value==color)
			slt.options[i].selected=true;
}
function checkStorage(id,color,size){
	var cobj,sobj,cvalue,svalue,no;
	if (color==1){
		cobj = document.getElementById("xycolor" + id);
		cvalue = cobj.value;
	}
	//alert(cvalue);
	if (size==1){
		sobj = document.getElementById("xyxize" + id);
		svalue = sobj.value;
	}
	no = $('#gno' + id).attr("value");
	//alert(no);
	$.ajax({
				url: "buy_sale.php",
				data: 'gid='+ id +'&color=' + escape(cvalue) + "&size=" + svalue + '&act=checkstorage',
				type:'get',
				dataType:"html",
				success: function(msg){
				//alert(msg);
				    if (msg == 0 || msg == ""){
				   		$('#showstorage' + id).html("缺貨");
						xygid = document.getElementsByName("xygid[]");
						xygid[no].disabled ="disabled";
						//$('#xygid')[no].attr("disabled","disabled");
						//$('input[@id=xygid]')[no].attr("disabled","disabled");
					}
					else{
						$('#showstorage' + id).html("");
						xygid = document.getElementsByName("xygid[]");
						xygid[no].disabled ="";
					//	$('#xygid')[no].attr("disabled","");
					}
				}
	});
}
function showcontent(showname){
		var obj,showobj,imgobj,myobj;
		i = 4;
		for (j=0;j<i;j++){
				myobj = document.getElementById("showfour" + (j+1));
				myobj.style.display = "none";
				imgobj = document.getElementById("imgfour" + (j+1));
				if (showname ==  (j+1)){
					imgobj.src = "<{ $template_dir }>/images/q" + (j+1) + ".gif";
					myobj.style.display = "";
				}else{
					imgobj.src = "<{ $template_dir }>/images/q" + (j+1) + "2.gif";
				}
		}
	}
</script>
<div id="body_out">
<div id="body_center">
 <div id="body_left"><!--左邊開始-->
   <{if $banner neq ""}> <img src="<{ $Site_Url }>/<{ $good_pic_path}>/<{$banner}>"> <{/if}><{ include_php file="search/search_banner.php" }>
 </div><!--左邊結束-->
 <div id="body_right"  ><!--右邊邊開始-->
  <div id="title_s" ><div id="title_s_left"></div>
        <div  id="title_s_right" style="margin-top:4px"><a href="<{ $Site_Url }>">首頁</a> <{ section name=list loop=$class_banner }>  &nbsp;<span class="style100">／</span> &nbsp; <a href="<{if $smarty.section.list.index eq 0}>product_class_detail<{elseif $smarty.section.list.index eq 1}>product_class_second<{else}>product_class_detail<{/if}>.php?bid=<{$class_banner[list].bid}>"><{$class_banner[list].catname}></a> <{/section}></div>
        <div id="title_s_right"></div>
      </div>
      <table width="746" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td style="padding-left:10px"><form action="<{ $Site_Url }>/shopping/shopping.php" name="form_goods" method='get' >
              <table width="746" border="0" align="center" cellpadding="0" cellspacing="5">
                <tr>
                  <td><input name="Action" value="Add" type="hidden">
                          <input name="Type" id="Type" value="" type="hidden">
                          <input name="goods_id" value="<{ $Goods_id }>" type="hidden">
                    <table width="100%" border="0" align="center" cellpadding="1" cellspacing="0" >
                      <tr>
                        <td  width="100%" align="RIGHT" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td align="center" ><ul id="photos" >
                                        <{ section name=Comm loop=$Goodpic }>
                                        <li><span class="panel-overlay"> <{$Goodpic[Comm].title}></span><img src="<{ $Site_Url }>/<{ $good_pic_path}>/<{$Goodpic[Comm].pic}>" />
                                        <{/section}></div>
                                      </ul></td>
                                  </tr>
                                  <tr style="display:">
                                    <td height="41" colspan="2" align="CENTER"><a href="javascript:void(0);" id="linkpic">放大圖片</a>  <{ $VideoUrl }></td>
                                  </tr>
                                  <tr style="display:">
                                    <td height="" colspan="2" align="CENTER"><table width="100%" border="0">
                                        
                                        <!--<tr>
                                          <td align="center"><{ if $HaveUpId!='' }><a href="<{ $Site_Url }>/product/goods_detail.php?goods_id=<{ $HaveUpId }>"><img src="<{ $template_dir }>/images/lbut1.gif" width="51" height="13" border="0"></a><{ /if }>&nbsp;&nbsp;&nbsp;<a href="<{ $Site_Url }>/product/product_class_detail.php?bid=<{ $Bid }>"><img src="<{ $template_dir }>/images/lbut2.gif" width="60" height="13" border="0"></a><a href="<{ $Site_Url }>/email/mailtofriend.php?action=sendto&gid=<{ $Goods_id}>"><img src="<{ $template_dir }>/images/lbut4.gif" width="63" height="13" border="0"></a>&nbsp;&nbsp;&nbsp;<{ if $HaveNextId!='' }><a href="<{ $Site_Url }>/product/goods_detail.php?goods_id=<{ $HaveNextId }>"><img src="<{ $template_dir }>/images/lbut3.gif" width="51" height="13" border="0"></a><{ /if }> </td>
                                        </tr>-->
                                        
                                        <tr>
                                          <td  align="center" valign="bottom"><table border="0" cellspacing="0" cellpadding="0">
                                              <tr>
                                                <td class="blue-line"><a href="<{ $Site_Url }>/product/product_class_detail.php?bid=<{ $Bid }>">同類商品</a> 分享:</td>
                                                <td width="25"><A href="javascript: void(window.open('http://www.facebook.com/share.php?u=' .concat(encodeURIComponent(location.href+'&u=<{$recommendno}>')) .concat(' ') .concat('(') .concat(encodeURIComponent(document.title)) .concat(')')));"><img src="<{ $template_dir }>/images/icon_s01.jpg" border="0"></A></td>
                                                <td width="25"><A href="javascript: void(window.open('http://www.plurk.com/?qualifier=shares&status=' .concat(encodeURIComponent(location.href+'&u=<{$recommendno}>')) .concat(' ') .concat('(') .concat(encodeURIComponent(document.title)) .concat(')')));"><img src="<{ $template_dir }>/images/icon_s02.jpg" border="0"></A></td>
                                                <td width="25"><A href="javascript: void(window.open('http://twitter.com/home/?status='.concat(encodeURIComponent(document.title)) .concat(' ') .concat(encodeURIComponent(location.href+'&u=<{$recommendno}>'))));"><img src="<{ $template_dir }>/images/icon_s03.jpg" border="0"></A></td>
                                              </tr>
                                            </table></td>
                                        </tr>
                                      </table></td>
                                  </tr>
                                </table></td>
                        <td height="153" valign="top" width="69%" ><table width="400" border="0"  align="left" cellpadding="0" cellspacing="0">
                            <tr>
                              <td  class="salename"  align="left" ><{ $sale_name }></td>
                            </tr>
                            <tr>
                              <td background="<{ $template_dir }>/images/sep-1.gif"  align="left" style="padding-bottom:5px; padding-top:5px"><h1><b><{ $Goodsname }></b></h1></td>
                            </tr>
                          </table>
                          <table width="400" border="0" align="center" cellpadding="0" cellspacing="0" class="p9rednothrough">
                            <{ if $Intro!="" }>
                            <tr valign="top">
                              <td height="12" align="left" style="padding:10px" class="intro"><{ $Intro }></td>
                            </tr>
                            <{ /if }> <{ if $Brand!="" }>
                            <tr valign="top">
                              <td height="25" align="left" class="p9black"><{ $Brand_name }>： <{ $Brand }>
                              <!--商品品牌--></td>
                            </tr>
                            <{ /if }>
                            
                            <{ if $Bn_name!="" }>
                            <tr valign="top">
                              <td height="25" align="left" class="p9black"><{ $Bn_name }>：<{ $Bn }>
                              <!--商品品牌--></td>
                            </tr>
                            <{ /if }>
                            
                            
                            
                            <{ section name=Comm loop=$attr_goods }>
                            <tr valign="top">
                              <td align="left" nowrap class="p9black"><{$attr_goods[Comm].attributename}>： <{ section name=Comm1 loop=$attr_goods[Comm].value }> <a href="<{ $Site_Url }>/product/product_attr.php?attrid=<{$attr_goods[Comm].attrid }>&bid=<{$goodoBid}>&valueid=<{$attr_goods[Comm].value[Comm1].valueid }>" class="job"><{$attr_goods[Comm].value[Comm1].value }></a>&nbsp;
                                
                                
                                
                              <{ /section }> </td>
                            </tr>
                            <{ /section }>
                            
                            
                            
                            <{ if $Good_Color_Option !="" }>
                            <tr>
                              <td align="left"  class="p9black"><{ $Product_Color }>：
                                <select name="good_color" onChange="javascript: <{ if $Good_Size_Option !="" }>
                                  
                                  
                                  ChangeStorage(this.value,document.all.good_size.value,this.value)<{ else }>ChangeStorage(this.value,'')<{ /if }>;"> <{ $Good_Color_Option }>
                              </select></td>
                            </tr>
                            <{ /if }> <{ if $Good_Size_Option !="" }>
                            <tr>
                              <td align="left"  class="p9black"><{ $Product_Size }>：
                                <select name="good_size" onChange="javascript:<{ if $Good_Color_Option !="" }>
                                  
                                  
                                  ChangeStorage(document.all.good_color.value,this.value)<{ else }>ChangeStorage('',this.value)<{ /if }>;"> <{ $Good_Size_Option }>
                              </select></td>
                            </tr>
                            <{ /if }>
                            <tr align="left">
                              <td><span id="showmessage1" style="color:#FF0000"></span></td>
                            </tr>
                            <tr valign="top">
                              <td height="25" align="left" nowrap class="p9black">任選數量：<{$xycount}></td>
                            </tr>
                            <tr valign="top">
                              <td align="left" class="p9navyblue"></td>
                            </tr>
                            <{ if $Unit!="" }>
                            <tr valign="top">
                              <td height="25" align="left" class="p9black"><nobr><{ $Unit_name }>：</nobr>
                                <!--計量單位--><{ $Unit }></td>
                            </tr>
                            <{ /if }>
                            <tr valign="top">
                              <td align="left" nowrap><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td height="25" align="left" valign="top" class="p9black">建議售價：<s><{$Price}></s> 元</td>
                                  </tr>
                                  <tr>
                                    <td height="25" align="left" valign="top" class="p9black">網購價：<span class="price"><{$Pricedesc}></span> 元<br />
                                      <table width="200" height="24" border="0" align="left" cellpadding="0" cellspacing="0" style="margin-left:80px;">
                                        <{ section name=Price loop=$PriceArray }> <{ if $PriceArray[Price].level_name eq $Session_userlevel}>
                                        <tr>
                                          <td align="left"><{ $PriceArray[Price].level_name }><{ $PriceIs }>
                                            <!--會員價格-->
                                            ：<{ $PriceArray[Price].m_price }> 元</td>
                                        </tr>
                                        <{ /if }> <{ /section }>
                                    </table></td>
                                  </tr>
                                </table></td>
                            </tr>
                            <{ if $NoCarriage ne 0 }>
                            <tr valign="top">
                              <td height="25" align="left" nowrap class="p9black"><{ $NoCar_name }>：<{ $NoCarriage }></td>
                            </tr>
                            <{ /if }><{ if $Point gt 0 }>
                            <tr valign="top">
                              <td height="25" align="left" class="p9black"><{ $ProductPoint_say }>：
                                <!--商品積分--><{ $Point }></td>
                            </tr>
                            <{ /if }>
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            <{ if $if_monthprice eq 1 }>
                            <tr>
                              <td align="RIGHT" nowrap class="p14red"><table width="100%"  border="0" cellpadding="3" cellspacing="1" bgcolor="#CCCCCC">
                                  <{ section name=Price loop=$monthpriceArray }>
                                  <tr bgcolor="#FFFFFF">
                                    <td><{ $monthpriceArray[Price].month }>期</td>
                                    <td>每期 <font color="red"><{ $monthpriceArray[Price].month_price }></font> 元</td>
                                    <td>價格為<{ $monthpriceArray[Price].total }></td>
                                  </tr>
                                  <{ /section }>
                                </table>
                                <br>
                                我想
                                <select name="iid">
                                  <option value="0">不分期</option>
                                  <{ section name=Price loop=$monthpriceArray }>
                                  <option value="<{ $monthpriceArray[Price].month }>">分<{ $monthpriceArray[Price].month }>期</option>
                                  <{ /section }>
                                </select>
                              購買 (分期付款只接受中國信託信用卡) </td>
                            </tr>
                            <{ /if }>
                            <!--
        <tr valign="top" style="display:none"> 
          <td class="p9navyblue" nowrap align="RIGHT"><{ $Point_name }>積分點數</td>
          <td class="p9black"><{ $Point }></td>
        </tr>
		-->
                          </table>
                          <table width="95%" border="0" align="center" cellpadding="2" cellspacing="0">
                            <tr>
                              <td height="40" align="left" nowrap><{ if $goodsno!="" }> <img src="<{ $template_dir }>/images/an0.jpg" width="12" height="16"><span class="p9black"><nobr> 賣場編號： <{ $goodsno }> </nobr></span> <{ /if }>
                                <!--商品編號-->
                                <img src="<{ $template_dir }>/images/an0.jpg" width="12" height="16"><{ if $Ifbonus !=1 }><a href='<{ $Site_Url }>/product/Collection.php?Action=Insert&gid=<{ $Goods_id }>'>加入追蹤清單</a><{ /if }>
                                
                                
                                
                                <{if $ifsaleoff eq 1 || $iftimesale eq 1}>
                                <table width="429" border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td width="44" height="48"><img src="<{ $template_dir }>/images/clock.gif" width="32" height="32"></td>
                                    <td width="385" class="saletime">整點促銷：<{$saleoff_startdate}>至<{$saleoff_enddate}></td>
                                  </tr>
                                </table>
                                <{ /if }>
                                
                                
                                
                                <{if $sale_subject > 0 && $ifsales eq 1}>
                                <table width="100%" border="0" align="center" cellpadding="2" cellspacing="0">
                                  <tr>
                                    <td><a href="product_sale.php?subject_id=<{$sale_subject}>"><font color="#FF0000"><span class="arr">↘</span> 前往活動頁 【<{$Subject_name}>】</font></a></td>
                                  </tr>
                                </table>
                                <{/if}> </td>
                            </tr>
                            <{if $trans_image!=""}>
                            <Tr>
                              <td></td>
                            </Tr>
                            <{/if}>
                            <tr>
                              <td height="49" align="left" nowrap style="padding-left:5px"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td width="20%" nowrap><{ if $Ifbonus==1 }> <a  href='<{ $Site_Url }>/shopping/shopping.php?goods_id=<{ $Goods_id }>&Action=Add'><img  alt='&lt;{ $fav_say }&gt;' src='<{ $template_dir }>/images/but4.gif' border=0></a> <{ else }> 
                                      
                                      
                                      
                                      <{if $nobuytime eq 1 && $ifsaleoff eq 1}> <span class="saletime2">促銷已過期</span> <{/if}> <div id="showtime" <{if !($havebuytime <= 0 && $ifsaleoff eq 1  || $iftimesale eq 1)}>style="display:none"<{/if}> class="saletime2">促銷價格會員不再折扣
                                      </div>
                                      <input name="showimage" type="image" src="<{ $template_dir }>/images/but1.jpg" <{if ($havebuytime>0 || $nobuytime eq 1) && $ifsaleoff eq 1 || ($Ifalarm eq 1 && $Storage eq 0)}>style="display:none"<{/if}>> <br />
                                      <{ $AlertZeroStorage }>
                                      
                                      
                                      
                                      <{ /if }> </td>
                                    <td></td>
                                  </tr>
                                </table></td>
                            </tr>
                          </table></td>
                      </tr>
                    </table></td>
                </tr>
                <tr>
                  <td align="center"><{ section name=Comm loop=$xygoods_array }>
                    <div style="float:left;margin-right:10px;">
                      <table width="170" border="0" cellpadding="5" cellspacing="0" id="xygoodstb<{ $xygoods_array[Comm].gid }>" style="background:#FFF" >
                        <tr>
                          <td height="143" align="center"><a href="javascript:temp=window.open('<{ $Site_Url }>/product/goods_detail_other.php?goods_id=<{ $xygoods_array[Comm].gid }>','shopcat','width=800,height=500,resizable=1,scrollbars=1,status=no,toolbar=no,location=no,menu=no');temp.focus()"><img src='<{ $Site_Url }>/<{ $good_pic_path}>/<{ $xygoods_array[Comm].smallimg }>' border=0 name="goodpic"></a></td>
                        </tr>
                        <tr>
                          <td height="43" align="left" valign="top"><input type="checkbox" value="<{ $xygoods_array[Comm].gid }>" name="xygid[]" id="xygid" onClick="showtd('<{ $xygoods_array[Comm].gid }>',this);" <{if $xygoods_array[Comm].storage eq 0 }>disabled<{/if}>>
                            <input type="hidden" name="gno<{ $xygoods_array[Comm].gid }>" id="gno<{ $xygoods_array[Comm].gid }>" value="<{$smarty.section.Comm.index}>">
                            我要選購</td>
                        </tr>
                        <tr>
                          <td height="43" align="left" valign="top"><a href="javascript:temp=window.open('<{ $Site_Url }>/product/goods_detail_other.php?goods_id=<{ $xygoods_array[Comm].gid }>','shopcat','width=800,height=500,resizable=1,scrollbars=1,status=no,toolbar=no,location=no,menu=no');temp.focus()"><{ $xygoods_array[Comm].goodsname }></a>
                            <div id="showstorage<{ $xygoods_array[Comm].gid }>" style="color:#F00"><{if $xygoods_array[Comm].storage eq 0 }>缺貨<{/if}></div></td>
                        </tr>
                        <tr>
                          <td height="16" align="left" valign="top">網購價：<{ $xygoods_array[Comm].pricedesc }></td>
                        </tr>
                        <{if $xygoods_array[Comm].Good_Color_Option neq ""}>
                        
                        <tr>
                          <td height="31" valign="top" class="p9black">顏色：
                            <select name="xycolor<{ $xygoods_array[Comm].gid }>" id="xycolor<{ $xygoods_array[Comm].gid }>" onChange="checkStorage(<{ $xygoods_array[Comm].gid }>,<{if $xygoods_array[Comm].Good_Color_Option neq ""}>
                              
                              1<{else}>0<{/if}>,<{if $xygoods_array[Comm].Good_Size_Option neq ""}>1<{else}>0<{/if}>);"><{ $xygoods_array[Comm].Good_Color_Option }>
                            </select></td>
                        </tr>
                        <{/if}>
                        <{if $xygoods_array[Comm].Good_Size_Option neq ""}>
                        <tr>
                          <td height="31" valign="top" class="p9black">尺寸：
                            <select name="xyxize<{ $xygoods_array[Comm].gid }>" id="xyxize<{ $xygoods_array[Comm].gid }>"  onChange="checkStorage(<{ $xygoods_array[Comm].gid }>,<{if $xygoods_array[Comm].Good_Color_Option neq ""}>
                              
                              1<{else}>0<{/if}>,<{if $xygoods_array[Comm].Good_Size_Option neq ""}>1<{else}>0<{/if}>);"><{ $xygoods_array[Comm].Good_Size_Option }>
                            </select></td>
                        </tr>
                        <{/if}>
                      </table>
                    </div>
                    <script language="javascript">
								checkStorage(<{ $xygoods_array[Comm].gid }>,<{if $xygoods_array[Comm].Good_Color_Option neq ""}>1<{else}>0<{/if}>,<{if $xygoods_array[Comm].Good_Size_Option neq ""}>1<{else}>0<{/if}>);
								</script>
                    <{ /section }> </td>
                </tr>
              </table>
            </form>
<style>
li {list-style:none;}
.block {display:block;}
</style>
             <table width="750" height="27" border="0" align="left" cellpadding="0" cellspacing="0"  style="margin-top:20px; border-bottom:2px #a59381 solid; margin-bottom:10px">
              <tr>
                <td width="82" height="27"><a href="javascript:" onClick="MM_swapImage('Image19','','<{ $template_dir }>/images/q1.gif',1);showcontent('1');"><img src="<{ $template_dir }>/images/q1.gif" name="Image19"  border="0" id="imgfour1"></a></td>
                <td width="82"><a href="javascript:" onClick="MM_swapImage('Image20','','<{ $template_dir }>/images/q5.gif',1);showcontent('2');"><img src="<{ $template_dir }>/images/q22.gif" name="Image20"  border="0" id="imgfour2"></a></td>
                <td height="27" background="<{ $template_dir }>/images/line-back.gif"><a href="javascript:" onClick="MM_swapImage('Image21','','<{ $template_dir }>/images/q3.gif',1);showcontent('3');"><img src="<{ $template_dir }>/images/q32.gif" name="Image21"  border="0" id="imgfour3"></a></td>
                <td background="<{ $template_dir }>/images/line-back.gif"><a href="javascript:" onClick="MM_swapImage('Image22','','<{ $template_dir }>/images/q4.gif',1);showcontent('4');"><img src="<{ $template_dir }>/images/q42.gif" name="Image22"  border="0" id="imgfour4"></a></td>
                <td width="500" >&nbsp;</td>
              </tr>
        </table>
            <table width="750" border="0" align="center" cellpadding="0" cellspacing="0" id="showfour1">
              <tr>
                <td align="left" style="padding:15px;"><table width="565" border="0" cellspacing="0" cellpadding="3">
                    <tr>
                      <td></td>
                    </tr>
                    <tr>
                      <td><{ $Body }></td>
                    </tr>
                    <tr>
                      <td></td>
                    </tr>
                    <tr>
                      <td ><{ $cap_des }></td>
                    </tr>
                    <tr>
                      <td></td>
                    </tr>
                    <tr>
                      <td><{ $alarmcontent }></td>
                    </tr>
                    <tr>
                      <td></td>
                    </tr>
                    <tr>
                      <td><{ $notice }></td>
                    </tr>
                  </table></td>
              </tr>
        </table>
		
               <div id="showfour2" style="width:750px;"><{ $Content_ser }></div>
			<div id="showfour3" style="width:750px;"><{ $Content_story }></div>
            <div id="showfour4" style="width:750px;"><{ $Content_tr }></div>
            
             </td>
        </tr>
      </table>
            <br />
       <table width="755"  border="0" cellpadding="0" cellspacing="0" style="border-bottom: 2px  solid #a59381; margin-left:10px; margin-top:20px">
        <tr>
          <td align="left"  valign="bottom" ><img src="<{ $template_dir }>/images/q332.gif"  ></td>
        </tr>
      </table>
      <table width="755" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-bottom:30px">
              <tr>
                <td align="left"><div align="left"><br />
                    <ul class="viewed">
                      <{ section name=abProduct loop=$abProductArray }>
                      <li align="middle" >
                        <table  border="0" cellspacing="0" cellpadding="0" style="margin-left:19px">
                          <tr>
                            <td align="center" valign="top"><table width="94" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="ececec">
                                <tr>
                                  <td bgcolor="#FFFFFF"><table width="86" border="0" align="center" cellpadding="0" cellspacing="0" bordercolor="" bgcolor="#FFFFFF">
                                      <tr>
                                        <td align="right" valign="top" style=" padding:3px">
                                        <div class="picture2"><a href="goods_detail.php?goods_id=<{  $abProductArray[abProduct].gid  }>"><img src="<{ $Site_Url }>/<{ $good_pic_path }>/<{ $abProductArray[abProduct].smallimg }>" border="0" align="top"></a></div>
                                       </td>
                                      </tr>
                                    </table></td>
                                </tr>
                              </table></td>
                          </tr>
                          <tr>
                            <td align="left" valign="top" style="padding:6px;"><a href="goods_detail.php?goods_id=<{  $abProductArray[abProduct].gid  }>"> <{ $abProductArray[abProduct].goodsname }></a></td>
                          </tr>
                        </table>
                      </li>
                      <{ /section }>
                    </ul>
                  </div></td>
              </tr>
            </table>

<div style="margin-left:10px"><{ include_php file="include/include_visitproduct.php" }></div>
            <p>&nbsp;</p>
            <script language="javascript">
					function buy(id){
						myobj = document.getElementById("detail_id");
						myobj.value = id;
						document.getElementById("form_goods").submit();
					}
					</script>
            <p></td>
        </tr>
      </table></div><!--右邊邊結束-->
</div><!--身體結束-->
</div><!--身體置中結束-->
<div id="bigpid" style="display:none"></div>
<script language="javascript">
storage = new Array();
var timesecond = <{$havebuytime}>;
var timehave = timesecond;
<{ section name=list loop=$storage_array }>
storage[<{ $storage_array[list].i }>] = new Array('<{ $storage_array[list].color }>','<{ $storage_array[list].size }>',<{ $storage_array[list].storage }>);
<{ /section }>
function ChangeStorage(color,size){
	
var thisstorage;
	for (i=0;i<storage.length;i++){
		if (color == storage[i][0] && size == storage[i][1]){
			thisstorage = storage[i][2];
		}
	}
	//alert(thisstorage);
	if(storage.length > 0){
	<{ if $Storage >0 }>
	if (thisstorage <= 0){
		<{if $Ifalarm eq 1}>
		document.all.showimage.style.display = 'none';
		<{/if}>
		document.all.showmessage1.innerHTML = "【缺貨中】 ";
	}else if (thisstorage <= <{ $Alarmnum }>){
		document.all.showimage.style.display = 'block';
		document.all.showmessage1.innerHTML = "【庫存已不多，欲購從速】";
	}else{
		//alert(timehave);
		if (timehave <= 0){
			document.all.showimage.style.display = 'block';
			document.all.showmessage1.innerHTML = "";
		}
	}
	<{ /if }>
	}else{
		<{if $Ifalarm eq 1}>
		document.all.showimage.style.display = 'none';
		<{/if}>
		document.all.showmessage1.innerHTML = "【缺貨中】 ";	
	}
	//alert(<{$Ifalarm}>);
}
//showcontent("1");
<{ if $Good_Color_Option !=""}>
var goods_colors = document.all.good_color.value;
<{/if}>
<{ if $Good_Size_Option !=""}>
var good_sizes = document.all.good_size.value;
<{/if}>
<{ if $Good_Color_Option !="" && $Good_Size_Option != ""}>
ChangeStorage(goods_colors,good_sizes);
<{ /if }>
<{ if $Good_Color_Option !="" && $Good_Size_Option == "" }>
ChangeStorage(goods_colors,'');
<{ /if }>
<{ if $Good_Size_Option !="" && $Good_Color_Option == "" }>
ChangeStorage('',good_sizes);
<{ /if }>
//查看
function checkxycount(){
	var xyobj,len,xycount;
	xyobj = document.getElementsByName("xygid[]");
	xycount = 0;
	len = xyobj.length;
	for(i=0;i<len;i++){
		if(xyobj[i].checked == true){
			xycount++;
		}
	}
	//alert(len);
	if(xycount!=<{$xycount}>){
		alert("請選擇<{$xycount}>種商品");
		return false;
	}
	return true;
}
function gethavetime(){
  var d,h,m,s;
  var obj,obj2;
  timesecond = timehave;
  obj = document.getElementById("showtime");
  obj2 = document.getElementById("showimage");
  d = parseInt(timesecond/(24*60*60));
  if (d > 0){
	  timesecond = timesecond%(24*60*60);
  }
  h = parseInt(timesecond/(60*60));
  if (h > 0){
	  timesecond = timesecond%(60*60);
  }
  m = parseInt(timesecond/60);
  if (m > 0){
	  timesecond = timesecond%60;
  }
  s = timesecond;
  if (d>0||h>0||m>0||s>0){
	  obj.style.display = "block";
	  obj.innerHTML = "還剩" + d +"天" + h + "小時" + m + "分" + s + "秒開始促銷";
  }else{
	  //obj.style.display = "none";	
	  obj.innerHTML = "促銷價格會員不再折扣";
	  obj2.style.display = "block";
	  <{if $detail_num>0 }>
	  objs = document.getElementsByTagName("detailgoodstd");
	  len_o = objs.length
	  for(i=0;i<len_o;i++){
		  objs[i].style.display = "block";
	  }
	  <{/if}>
  }
  timehave = timehave - 1;
}
if (timehave>0)
  setInterval("gethavetime()",1000);
function buy(id){
	myobj = document.getElementById("detail_id");
	myobj.value = id;
	document.getElementById("form_goods").submit();
}
function showtd(id,myform){
	var obj;
	obj = document.getElementById("xygoodstb" + id);
	if (myform.checked == true){
		obj.style.backgroundColor = "#e9f7d6";	
	}else{
		obj.style.backgroundColor = "#ffffff";		
	}
}
$('#photos').galleryView({
            panel_width: 350,
            panel_height: 350,
            frame_width: 60,
            frame_height: 60,
            easing: 'swing',
            pause_on_hover: false,
            nav_theme: 'light',
            overlay_opacity: 0.5,
            overlay_height: 20
        });
 $.ajax({
				url: 'product_pic.php',
				data: 'goods_id=<{ $Goods_id }>',
				type:'get',
				dataType:"html",
				cache: false,
				success: function(msg){
					//alert(msg);
					$('#bigpid').html(msg);
				}
	});
$(document).ready(function() { 
    $('#linkpic').click(function() { 
	 $.blockUI({ message: $('#bigpid'),
			css: { 
            width: '620px' ,
			height:'600px',
			top:  '0px', 
                left: ($(window).width() - 620) /2 + 'px'
        }
	});
	}); 
}); 
</script>
<{ include_php file="bottom.php" }>
</body>
</html>
