<table width="208" border="0" align="center" cellpadding="1" cellspacing="0">
<{ if $article_title0!="" }>
  <tr align="left">
    <td width="11"><img src="<{ $template_dir }>/images/dot_news.gif" /></td>
    <td valign="middle"><{ $article_title0 }></td>
<{ /if }> <{ if $article_title1!="" }>
  <tr align="left">
    <td><img src="<{ $template_dir }>/images/dot_news.gif" /></td>
    <td valign="middle" ><{ $article_title1 }></td>
  </tr>
<{ /if }> <{ if $article_title2!="" }>
  <tr align="left">
    <td><img src="<{ $template_dir }>/images/dot_news.gif" /></td>
    <td valign="middle"><{ $article_title2 }></td>
  </tr>
<{ /if }> <{ if $article_title3!="" }>
  <tr align="left">
    <td><img src="<{ $template_dir }>/images/dot_news.gif" /></td>
    <td valign="middle">{ $article_title3 }></td>
  </tr>
<{ /if }> <{ if $article_title4!="" }>
  <tr align="left">
    <td><img src="<{ $template_dir }>/images/dot_news.gif" /></td>
    <td valign="middle"><{ $article_title4 }></td>
  </tr>
<{ /if }><{ if $article_title5!="" }>
  <tr>
    <td colspan="2" valign="top">&nbsp;</td>
  </tr>
  <{ /if }><{ if $article_title6!="" }>
  <{ /if }>
</table>
