<style>
li {list-style:none;}
#tab3 {	width:313px;height:33px;font-size:12px;font-weight:normal;background-position:right;background-repeat:no-repeat;background:url(<{$template_dir}>/images/tab-back000.gif);}
#tab3 ul {margin:0;padding:0;background-position:right;background-repeat:no-repeat;background:url(<{$template_dir}>/images/tab-back000.gif);}
#tab3 li {width:78px;float:left;height:33px;line-height:33px;text-align:center;border-right:0px #ebf7ff solid;cursor:pointer;background:url(<{$template_dir}>/images/tab-back2-1.gif);color:#666;}
#tab3 li.now {color:#666;font-weight:bold;background:url(<{$template_dir}>/images/tab-back1.jpg);}
.tablist3 {width:311px;height:255px;font-size:12px;line-height:33px;border-left:1px #b3a89f solid;border-right:1px #b3a89f solid;border-bottom:1px #b3a89f solid;display:none;overflow:hidden;}
#tab4 {	width:313px;height:33px;font-size:12px;font-weight:normal;background-position:right;background-repeat:no-repeat;background:url(<{$template_dir}>/images/tab-back000.gif);}
#tab4 ul {margin:0;padding:0;background-position:right;background-repeat:no-repeat;background:url(<{$template_dir}>/images/tab-back000.gif);}
#tab4 li {width:78px;float:left;height:33px;line-height:33px;text-align:center;border-right:0px #ebf7ff solid;cursor:pointer;background:url(<{$template_dir}>/images/tab-back2-2.gif);color:#666;}
#tab4 li.now {color:#666;font-weight:bold;background:url(<{$template_dir}>/images/tab-back1.jpg);}
.tablist4 {width:311px;height:255px;font-size:12px;line-height:33px;border-left:1px #b3a89f solid;border-right:1px #b3a89f solid;border-bottom:1px #b3a89f solid;display:none;overflow:hidden;}
#tab5 {	width:313px;height:33px;font-size:12px;font-weight:normal;background-position:right;background-repeat:no-repeat;background:url(<{$template_dir}>/images/tab-back000.gif);}
#tab5 ul {margin:0;padding:0;background-position:right;background-repeat:no-repeat;background:url(<{$template_dir}>/images/tab-back000.gif);}
#tab5 li {width:78px;float:left;height:33px;line-height:33px;text-align:center;border-right:0px #ebf7ff solid;cursor:pointer;background:url(<{$template_dir}>/images/tab-back2-3.gif);color:#666;}
#tab5 li.now {color:#666;font-weight:bold;background:url(<{$template_dir}>/images/tab-back1.jpg);}
.tablist5 {width:311px;height:255px;font-size:12px;line-height:33px;border-left:1px #b3a89f solid;border-right:1px #b3a89f solid;border-bottom:1px #b3a89f solid;display:none;overflow:hidden;}
#tab6 {	width:313px;height:33px;font-size:12px;font-weight:normal;background-position:right;background-repeat:no-repeat;background:url(<{$template_dir}>/images/tab-back000.gif);}
#tab6 ul {margin:0;padding:0;background-position:right;background-repeat:no-repeat;background:url(<{$template_dir}>/images/tab-back000.gif);}
#tab6 li {width:78px;float:left;height:33px;line-height:33px;text-align:center;border-right:0px #ebf7ff solid;cursor:pointer;background:url(<{$template_dir}>/images/tab-back2-4.gif);color:#666;}
#tab6 li.now {color:#666;font-weight:bold;background:url(<{$template_dir}>/images/tab-back1.jpg);}
.tablist6 {width:311px;height:255px;font-size:12px;line-height:33px;border-left:1px #b3a89f solid;border-right:1px #b3a89f solid;border-bottom:1px #b3a89f solid;display:none;overflow:hidden;}
#tab7 {	width:313px;height:33px;font-size:12px;font-weight:normal;background-position:right;background-repeat:no-repeat;background:url(<{$template_dir}>/images/tab-back000.gif);}
#tab7 ul {margin:0;padding:0;background-position:right;background-repeat:no-repeat;background:url(<{$template_dir}>/images/tab-back000.gif);}
#tab7 li {width:78px;float:left;height:33px;line-height:33px;text-align:center;border-right:0px #ebf7ff solid;cursor:pointer;background:url(<{$template_dir}>/images/tab-back2-5.gif);color:#666;}
#tab7 li.now {color:#666;font-weight:bold;background:url(<{$template_dir}>/images/tab-back1.jpg);}
.tablist7 {width:311px;height:255px;font-size:12px;line-height:33px;border-left:1px #b3a89f solid;border-right:1px #b3a89f solid;border-bottom:1px #b3a89f solid;display:none;overflow:hidden;}
#tab8 {	width:313px;height:33px;font-size:12px;font-weight:normal;background-position:right;background-repeat:no-repeat;background:url(<{$template_dir}>/images/tab-back000.gif);}
#tab8 ul {margin:0;padding:0;background-position:right;background-repeat:no-repeat;background:url(<{$template_dir}>/images/tab-back000.gif);}
#tab8 li {width:78px;float:left;height:33px;line-height:33px;text-align:center;border-right:0px #ebf7ff solid;cursor:pointer;background:url(<{$template_dir}>/images/tab-back2-6.gif);color:#666;}
#tab8 li.now {color:#666;font-weight:bold;background:url(<{$template_dir}>/images/tab-back1.jpg);}
.tablist8 {width:311px;height:255px;font-size:12px;line-height:33px;border-left:1px #b3a89f solid;border-right:1px #b3a89f solid;border-bottom:1px #b3a89f solid;display:none;overflow:hidden;}
#tab9 {	width:313px;height:33px;font-size:12px;font-weight:normal;background-position:right;background-repeat:no-repeat;background:url(<{$template_dir}>/images/tab-back000.gif);}
#tab9 ul {margin:0;padding:0;background-position:right;background-repeat:no-repeat;background:url(<{$template_dir}>/images/tab-back000.gif);}
#tab9 li {width:78px;float:left;height:33px;line-height:33px;text-align:center;border-right:0px #ebf7ff solid;cursor:pointer;background:url(<{$template_dir}>/images/tab-back2-7.gif);color:#666;}
#tab9 li.now {color:#666;font-weight:bold;background:url(<{$template_dir}>/images/tab-back1.jpg);}
.tablist9 {width:311px;height:255px;font-size:12px;line-height:33px;border-left:1px #b3a89f solid;border-right:1px #b3a89f solid;border-bottom:1px #b3a89f solid;display:none;overflow:hidden;}
#tab10 {	width:313px;height:33px;font-size:12px;font-weight:normal;background-position:right;background-repeat:no-repeat;background:url(<{$template_dir}>/images/tab-back000.gif);}
#tab10 ul {margin:0;padding:0;background-position:right;background-repeat:no-repeat;background:url(<{$template_dir}>/images/tab-back000.gif);}
#tab10 li {width:78px;float:left;height:33px;line-height:33px;text-align:center;border-right:0px #ebf7ff solid;cursor:pointer;background:url(<{$template_dir}>/images/tab-back2-8.gif);color:#666;}
#tab10 li.now {color:#666;font-weight:bold;background:url(<{$template_dir}>/images/tab-back1.jpg);}
.tablist10 {width:311px;height:255px;font-size:12px;line-height:33px;border-left:1px #b3a89f solid;border-right:1px #b3a89f solid;border-bottom:1px #b3a89f solid;display:none;overflow:hidden;}
#tab11 {	width:313px;height:33px;font-size:12px;font-weight:normal;background-position:right;background-repeat:no-repeat;background:url(<{$template_dir}>/images/tab-back000.gif);}
#tab11 ul {margin:0;padding:0;background-position:right;background-repeat:no-repeat;background:url(<{$template_dir}>/images/tab-back000.gif);}
#tab11 li {width:78px;float:left;height:33px;line-height:33px;text-align:center;border-right:0px #ebf7ff solid;cursor:pointer;background:url(<{$template_dir}>/images/tab-back2-9.gif);color:#666;}
#tab11 li.now {color:#666;font-weight:bold;background:url(<{$template_dir}>/images/tab-back1.jpg);}
.tablist11 {width:311px;height:255px;font-size:12px;line-height:33px;border-left:1px #b3a89f solid;border-right:1px #b3a89f solid;border-bottom:1px #b3a89f solid;display:none;overflow:hidden;}
#tab12 {	width:313px;height:33px;font-size:12px;font-weight:normal;background-position:right;background-repeat:no-repeat;background:url(<{$template_dir}>/images/tab-back000.gif);}
#tab12 ul {margin:0;padding:0;background-position:right;background-repeat:no-repeat;background:url(<{$template_dir}>/images/tab-back000.gif);}
#tab12 li {width:78px;float:left;height:33px;line-height:33px;text-align:center;border-right:0px #ebf7ff solid;cursor:pointer;background:url(<{$template_dir}>/images/tab-back2-9.gif);color:#666;}
#tab12 li.now {color:#666;font-weight:bold;background:url(<{$template_dir}>/images/tab-back1.jpg);}
.tablist12 {width:311px;height:255px;font-size:12px;line-height:33px;border-left:1px #b3a89f solid;border-right:1px #b3a89f solid;border-bottom:1px #b3a89f solid;display:none;overflow:hidden;}
.block {display:block;}
.picture3 {
	width:75px;display:block;margin-left:auto;margin-right:auto;text-align:center;}
.picture3 img {
width: expression(this.width > 75 ? 75: true);
	max-width: 75px;
height: expression(this.height > 75 ? 75: true);
	max-height: 75px;
}
.picture3 a {
	display: block;
	border: 1px solid #fff;
	padding: 3px;
	height: 75px;
	width: 75px;
}
</style>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
    <{section name=list loop=$qk_goods_array}>
  <{if $qk_goods_array[list].hang eq 1}>
  <tr>
  <{/if}>
    <td align="<{if $qk_goods_array[list].hang eq 1}>left<{/if}><{if $qk_goods_array[list].hang eq 2}>center<{/if}><{if $qk_goods_array[list].hang eq 0}>right<{/if}>" valign="top">
    <table width="315" border="0" cellpadding="0" cellspacing="0" style="margin-top:8px;">
  <tr>
    <td width="310" valign="top"><div id="tab<{$qk_goods_array[list].tabid}>">
        <ul>
          <{section name=list1 loop=$qk_goods_array[list].group}>
          <li onMouseOver="setTab(<{$qk_goods_array[list].tabid}>,<{$qk_goods_array[list].group[list1].j}>)" <{if $qk_goods_array[list].group[list1].j eq 0}>class="now"<{/if}>><{$qk_goods_array[list].group[list1].tag}></li>
          <{/section}>
        </ul>
  
      </div>
      
      <div id="tablist<{$qk_goods_array[list].tabid}>">
      <{section name=list1 loop=$qk_goods_array[list].group}>
        <div class="tablist<{$qk_goods_array[list].tabid}> <{if $qk_goods_array[list].group[list1].j eq 0}>block<{/if}>"> <span>
<table width="100%" height="196"  border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td height="180" align="center" valign="top" style="padding:2px;"><{if $qk_goods_array[list].group[list1].gc_pic neq ""}><a href="<{$qk_goods_array[list].group[list1].gc_link}>"><img src="<{ $Site_Url }>/UploadFile/LogoPic/<{$qk_goods_array[list].group[list1].gc_pic}>" width=200 border="0"></a><{/if}></td>
                    <td align="center" valign="top" style="padding-top:3px;"><!--商品循環-->
                      <table width="98%" border="0" cellpadding="1" cellspacing="0">
                        <{section name=list2 loop=$qk_goods_array[list].group[list1].goods}>
                        <tr>
                          
                          <td height="75" valign="top"><span class="picture3"><a href="product/goods_detail.php?goods_id=<{ $qk_goods_array[list].group[list1].goods[list2].gid }>"><img src="UploadFile/GoodPic/<{ $qk_goods_array[list].group[list1].goods[list2].smallimg }>" border=0></a></span></td>
                        </tr>
                        <tr>
                          <td valign="top"><a href="product/goods_detail.php?goods_id=<{ $qk_goods_array[list].group[list1].goods[list2].gid }>" class="green"><{ $qk_goods_array[list].group[list1].goods[list2].goodsname }></a></td>
                        </tr>
                        <{ /section }>
                      </table>
                    <!--END商品循環--></td>
                  </tr>
                </table>
        </span> </div>
        <{/section}>
        
      </div></td>
    <td width="13"></td>
    </tr>
	</table>
    </td>
    <{if $qk_goods_array[list].hang eq 0}>
  </tr>
  <{/if}>
   <{/section}>
     
</table>
<script type="text/javascript">
//m选项卡数目
//n当前选项卡编号
function setTab(m,n){
	
	var menu=document.getElementById("tab"+m).getElementsByTagName("li");   //获取ID为tab+m标签下的li标签
	var showdiv=document.getElementById("tablist"+m).getElementsByTagName("div");   //获取ID为tablist+m标签下的div标签
	//alert(showdiv.length);
	for(i=0;i<menu.length;i++)
	{
		menu[i].className=i==n?"now":"";   //如果i=n;那么menu[i].classname为now
		showdiv[i].style.display=i==n?"block":"none";   //如果如果i=n;那么showdiv[i].style.display为block"
	}
}
</script>
