<{ section name=list loop=$newshop_array }>
<div style="width:160px;height:110px;display:inline;float:left;padding-left:10px;padding-right:10px;">
<table width="140" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center"><a href="shopdetail.php?sid=<{ $newshop_array[list].sid }>"><img src="<{ $Site_Url }>/UploadFile/ShopPic/<{ $newshop_array[list].shoppic }>" width=150 border="0"></a><a href="shopdetail.php?sid=<{ $newshop_array[list].sid }>"><br />
    <{ $newshop_array[list].shopname }></a></td>
  </tr>
  <!--<tr>
    <td><a href="shopdetail.php?sid=<{ $newshop_array[list].sid }>"><{ $newshop_array[list].username }></a></td>
  </tr>
  <tr>
    <td><{ $newshop_array[list].content }></td>
  </tr>-->
  
</table>
</div>
<{/section}>
