<!--table width="176" height="20" border="0" align="center" cellpadding="0" cellspacing="0">
    <FORM name='searchbanner'  action="<{ $Site_Url }>/article/search.php"  method=get>
      <tr>
        <td width="132" align="center"  background="<{ $template_dir }>/images/search-bg.gif">
<input name=skey class="input_search" id="skey3" size="10" />
        </td>
        <td width="48" align="center"><input name=imageField type=image  src="<{ $template_dir }>/images/search-button.gif" width="44" height="20" border="0"></td>
      </tr>
    </form>
  </table-->

							<div class="inline-search clearfix margin-bottom-10 margin-top-10">
								<form name='searchbanner'  action="<{ $Site_Url }>/article/search.php"  method="get" id="searchbanner" class="widget_search">
									<input type="search" placeholder="Start Searching..." id="skey4" name="skey" class="serch-input">
									<button type="submit">
										<i class="fa fa-search"></i>
									</button>
								</form>
							</div>