<table width="195" class="blue-border" cellspacing="1" cellpadding="0">
  <tr>
    <td align="center" valign="bottom" bgcolor="#E2E9ED">全館暢銷排行榜</td>
  </tr>
  <tr>
    <td background="<{ $template_dir }>/images/lightblue-back.gif"><table width="190"  border="0" align="center" cellpadding="2" cellspacing="1" style="">
        <tr>
          <td width="76" height="76" valign="top"><table border="0" cellpadding="0" cellspacing="0" style="border: 1px solid #e5e5e5;">
              <tr>
                <td align="left" valign="top"><A  href='<{ $Site_Url }>/product/detail<{ $View_product_gid_1 }>'> <IMG src="<{ $Site_Url }>/UploadFile/GoodPic/<{ $View_product_smallimg_1 }>" width=70  border=0></A></td>
              </tr>
            </table></td>
          <td align="left" valign="top" style="background: url(<{ $template_dir }>/images/q01.gif) no-repeat bottom right;"><span style="border-bottom:0px #c5c5c5 dotted;"><img src="<{ $template_dir }>/images/1.gif" width="13" height="11"><br />
            <a href="<{ $Site_Url }>/product/detail<{ $View_product_gid_1 }>"><{ $View_product_goodsname_1 }></a></span></td>
        </tr>
      </table>
      <table width="190"  border="0" align="center" cellpadding="2" cellspacing="1" style="margin-top:5px;">
        <tr>
          <td width="76" height="76" valign="top"><table border="0" cellpadding="0" cellspacing="0" style="border: 1px solid #e5e5e5;">
              <tr>
                <td align="left" valign="top"><A  href='<{ $Site_Url }>/product/detail<{ $View_product_gid_2 }>'> <IMG src="<{ $Site_Url }>/UploadFile/GoodPic/<{ $View_product_smallimg_2 }>" width=70  border=0></A></td>
              </tr>
            </table></td>
          <td align="left" valign="top" style="background: url(<{ $template_dir }>/images/q01.gif) no-repeat bottom right;"><span style="border-bottom:0px #c5c5c5 dotted;"><img src="<{ $template_dir }>/images/2.gif" width="13" height="11"><br />
            <a href="<{ $Site_Url }>/product/detail<{ $View_product_gid_2 }>"><{ $View_product_goodsname_2 }></a></span></td>
        </tr>
      </table>
      <table width="190"  border="0" align="center" cellpadding="2" cellspacing="1" style="margin-top:5px;">
        <tr>
          <td width="76" height="76" valign="top"><table border="0" cellpadding="0" cellspacing="0" style="border: 1px solid #e5e5e5;">
              <tr>
                <td align="left" valign="top"><A  href='<{ $Site_Url }>/product/detail<{ $View_product_gid_3 }>'> <IMG src="<{ $Site_Url }>/UploadFile/GoodPic/<{ $View_product_smallimg_3 }>" width=70  border=0></A></td>
              </tr>
            </table></td>
          <td align="left" valign="top" style="background: url(<{ $template_dir }>/images/q01.gif) no-repeat bottom right;"><span style="border-bottom:0px #c5c5c5 dotted;"><img src="<{ $template_dir }>/images/3.gif" width="13" height="11"><br />
            <a href="<{ $Site_Url }>/product/detail<{ $View_product_gid_3 }>"><{ $View_product_goodsname_3 }></a></span></td>
        </tr>
      </table>
      <table width="180" border="0" align="center" cellpadding="0" cellspacing="3" style="margin-top:5px;">
        <tr>
          <td width="15" align="center"><img src="<{ $template_dir }>/images/4.gif" width="13" height="11"></td>
          <td height="25"><a href="<{ $Site_Url }>/product/detail<{ $View_product_gid_4 }>"><{ $View_product_goodsname_4 }></a></td>
        </tr>
        <tr>
          <td width="15" align="center"><img src="<{ $template_dir }>/images/5.gif" width="13" height="11"></td>
          <td height="25"><a href="<{ $Site_Url }>/product/detail<{ $View_product_gid_5}>"><{ $View_product_goodsname_5 }></a></td>
        </tr>
        <tr>
          <td width="15" align="center"><img src="<{ $template_dir }>/images/6.gif" width="13" height="11"></td>
          <td height="25"><a href="<{ $Site_Url }>/product/detail<{ $View_product_gid_6 }>"><{ $View_product_goodsname_6 }></a></td>
        </tr>
        <tr>
          <td width="15" align="center"><img src="<{ $template_dir }>/images/7.gif" width="13" height="11"></td>
          <td height="25"><a href="<{ $Site_Url }>/product/detail<{ $View_product_gid_7 }>"><{ $View_product_goodsname_7 }></a></td>
        </tr>
        <tr>
          <td width="15" align="center"><img src="<{ $template_dir }>/images/8.gif" width="13" height="11"></td>
          <td height="25"><a href="<{ $Site_Url }>/product/detail<{ $View_product_gid_8 }>"><{ $View_product_goodsname_8 }></a></td>
        <tr>
          <td width="15" align="center"><img src="<{ $template_dir }>/images/9.gif" width="13" height="11"></td>
          <td height="25"><a href="<{ $Site_Url }>/product/detail<{ $View_product_gid_9 }>"><{ $View_product_goodsname_9 }></a></td>
        <tr>
          <td width="15" align="center"><img src="<{ $template_dir }>/images/10.gif" width="13" height="11"></td>
          <td height="25"><a href="<{ $Site_Url }>/product/detail<{ $View_product_gid_10 }>"><{ $View_product_goodsname_10 }></a></td>
        </tr>
      </table></td>
  </tr>
</table>
