<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<meta content="<{ $Meta_desc }>" name="description">

<meta content="<{ $Meta_keyword }>" name="keywords">

<title><{ $HtmlTitle }></title>

<link href="<{ $template_dir }>/css/fire.css" rel="stylesheet" type="text/css">

<link rel="shortcut icon" href="<{ $Site_Url }>/favicon.ico">
<script src="http://www.qbeauty.com.tw/templates/drq/js/jquery-1.4.4.min.js"></script>
<script src="http://www.qbeauty.com.tw/templates/drq/js/slides.min.jquery.js"></script>

	<script>
		$(function(){
			$('#slides').slides({
				preload: true,
				preloadImage: '<{ $template_dir }>/images/loading.gif',
				play: 5000,
				pause: 2500,
				hoverPause: true,
				animationStart: function(){
					$('.caption').animate({
						bottom:-35
					},100);
				},
				animationComplete: function(current){
					$('.caption').animate({
						bottom:0
					},200);
					if (window.console && console.log) {
						// example return of current slide number
						console.log(current);
					};
				}
			});
		});
	</script>
<link rel="stylesheet" href="http://www.qbeauty.com.tw/templates/drq/css/global.css">
<script type="text/javascript" src="<{ $Site_Url }>/js/jquery.easing.1.2.js"></script>

<script src="<{ $Site_Url }>/js/jquery.anythingslider.js" type="text/javascript" charset="utf-8"></script>
<{ include_php file="include/include_ga.php" }>

</head>

<body onload="MM_preloadImages('<{ $template_dir }>/images/Tab_Img11.gif','<{ $template_dir }>/images/Tab_Img21.gif','<{ $template_dir }>/images/Tab_Img31.gif')">

<{ include_php file="include/menu2.php" }>


<LINK rel="stylesheet" type="text/css" href="<{ $template_dir }>/css/slider.css" media="all">
<div style="width:960px;display:block; background-color:#FFF; margin-left:auto; margin-right:auto;">
  <div id="example">
    <div id="slides">
      <div class="slides_container">
        <div>
          <a href="http://www.lanrentuku.com/" title="145.365 - Happy Bokeh Thursday! | Flickr - Photo Sharing!" target="_blank"><img src="<{ $template_dir }>/images/001.jpg" width="960" height="375" alt="Slide 1"></a></div>
        <div>
          <a href="http://www.lanrentuku.com/" title="Taxi | Flickr - Photo Sharing!" target="_blank"><img src="<{ $template_dir }>/images/002.jpg" width="960" height="375" alt="Slide 2"></a>
          
        </div>
        <div>
          <a href="http://www.lanrentuku.com/" title="Happy Bokeh raining Day | Flickr - Photo Sharing!" target="_blank"><img src="<{ $template_dir }>/images/003.jpg" width="960" height="375" alt="Slide 3"></a>
          
        </div>
        <div>
          <a href="http://www.lanrentuku.com/" title="We Eat Light | Flickr - Photo Sharing!" target="_blank"><img src="<{ $template_dir }>/images/004.jpg" width="960" height="375" alt="Slide 4"></a>
          
        </div>
      </div>
    </div>
  </div>


<table width="960" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">

  <tr>

    <td width="600" valign="top" style="padding-left:10px; padding-bottom:20px"><{ include_php file="include/include_hotproduct.php" }> </td>

    <td width="360" align="center" valign="top"><table width="310" border="0" align="center" cellpadding="0" cellspacing="0">

        <tr>

          <td width="310" valign="top"><table width="310" border="0" align="center" cellpadding="0" cellspacing="0">

        <tr>

          <td width="310" valign="top">
          <div style="width:310px;height:210px; display:block; border:2px solid #d3d3d3;">
          <TABLE border="0" align="center" cellpadding="0" cellspacing="0">

              <TR>

                <TD valign="top"><script language="JavaScript" type="text/JavaScript">

<!--

function MM_swapImgRestore() { //v3.0

  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;

}

function MM_preloadImages() { //v3.0

  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();

    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)

    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}

}

function MM_findObj(n, d) { //v4.01

  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {

    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}

  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];

  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);

  if(!x && d.getElementById) x=d.getElementById(n); return x;

}

function MM_swapImage() { //v3.0

  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)

   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}

}

function showcontent(showname){

		var obj,showobj,imgobj,myobj;

		i = 3;

		for (j=0;j<i;j++){

				myobj = document.getElementById("showfour" + (j+1));

				myobj.style.display = "none";

				imgobj = document.getElementById("imgfour" + (j+1));

				if (showname ==  (j+1)){

					imgobj.src = "<{ $template_dir }>/images/Tab_Img" + (j+1) + "1.gif";

					myobj.style.display = "";

				}else{

					imgobj.src = "<{ $template_dir }>/images/Tab_Img" + (j+1) + "0.gif";

				}

		}

	}

	

//-->



</script>

                  <table width="310" height="21" border="0" cellpadding="0" cellspacing="0">

                    <tr>

                      <td width="200" valign="bottom"><img src="<{ $template_dir }>/images/title-qiangtui.gif" width="198" height="34" /></td>

                      <td width="110" height="21" align="right" valign="middle"><table width="80" border="0" cellspacing="0" cellpadding="0">

                          <tr>

                            <td><a href="javascript:" onMouseover="MM_swapImage('Image19','','<{ $template_dir }>/images/Tab_Img11.gif',1);showcontent('1');"><img src="<{ $template_dir }>/images/Tab_Img10.gif" name="Image19" border="0" id="imgfour1"></a></td>

                            <td><a href="javascript:" onMouseover="MM_swapImage('Image23','','<{ $template_dir }>/images/Tab_Img21.gif',1);showcontent('2');"><img src="<{ $template_dir }>/images/Tab_Img20.gif" name="Image23" border="0" id="imgfour2"></a></td>

                            <td><a href="javascript:" onMouseover="MM_swapImage('Image20','','<{ $template_dir }>/images/Tab_Img31.gif',1);showcontent('3');"><img src="<{ $template_dir }>/images/Tab_Img30.gif" name="Image20" border="0" id="imgfour3"></a></td>

                          </tr>

                        </table></td>

                    </tr>

                  </table>

                  <table width="300" height="150" border="0" align="center" cellpadding="0" cellspacing="0">

                    <tr>

                      <td valign="top">

                      <{ section name=list loop=$adv_r_array }>

                      <div align="left" id="showfour<{$smarty.section.list.index+1}>" style="width:300;">

                          <table border="0" cellpadding="0" cellspacing="0" width="300">

                            <tbody>

                              <tr>

                              <{ section name=list2 loop=$adv_r_array[list].adv }>

                                <td><a href="<{$adv_r_array[list].adv[list2].url}>

"><{$adv_r_array[list].adv[list2].img}></a></td>

							  <{/section}>

                              </tr>

                            </tbody>

                          </table>

                        </div>

                        <{/section}>

                        </td>

                    </tr>

                  </table>

                  <script language="javascript">

showcontent("1");

</script></TD>

              </TR>

            </TABLE>
</div>
            <SCRIPT language=JavaScript>

var Msg_Timer;

var onPause=false;

var currentMsg=0;

var Msg_Obj=document.getElementById("showmsgbn").getElementsByTagName("img");

function Rot_Msg(m){

if(!onPause||m){

for(i=0;i<document.Tag_COMM.length;i++){

document.Tag_COMM[i].src="Tab_Img"+(i+1)+"0.gif";

Msg_Obj[i].style.display="none";

}

if(m){

currentMsg=m-1;

clearTimeout(Msg_Timer);

}else{

Msg_Timer=setTimeout("Rot_Msg()",5000);

}

document.Tag_COMM[currentMsg].src="Tab_Img"+(currentMsg+1)+"1.gif";

Msg_Obj[currentMsg].style.display="block";

currentMsg=currentMsg+1==document.Tag_COMM.length?0:currentMsg+1;

}

}

function Pause_Msg(){

onPause=onPause?false:true

}

Rot_Msg()

</SCRIPT></td>

        </tr>

      </table>

            <SCRIPT language=JavaScript>

var Msg_Timer;

var onPause=false;

var currentMsg=0;

var Msg_Obj=document.getElementById("showmsgbn").getElementsByTagName("img");

function Rot_Msg(m){

if(!onPause||m){

for(i=0;i<document.Tag_COMM.length;i++){

document.Tag_COMM[i].src="Tab_Img"+(i+1)+"0.gif";

Msg_Obj[i].style.display="none";

}

if(m){

currentMsg=m-1;

clearTimeout(Msg_Timer);

}else{

Msg_Timer=setTimeout("Rot_Msg()",5000);

}

document.Tag_COMM[currentMsg].src="Tab_Img"+(currentMsg+1)+"1.gif";

Msg_Obj[currentMsg].style.display="block";

currentMsg=currentMsg+1==document.Tag_COMM.length?0:currentMsg+1;

}

}

function Pause_Msg(){

onPause=onPause?false:true

}

Rot_Msg()

</SCRIPT></td>

        </tr>

      </table></td>

  </tr>

  <tr>

    <td colspan="2"><table width="100%" border="0" cellspacing="0" cellpadding="0">

        <tr>

          <td width="200" align="left" valign="top" style="padding-left:8px"><div>

              <script language="JavaScript" src="<{ $Site_Url }>/modules/advertising/adv.php?tag=left1" type="text/javascript"></script>

            </div>

            <div style="margin-top:13px; padding-bottom:13px">

              <table width="1%" border="0" cellspacing="0" cellpadding="0">

                <tr>

                  <td><img src="<{ $template_dir }>/images/ABFinal_TOP.gif"  width="197" height="29" border="0" /></td>

                </tr>

                <tr>

                  <td align="center" valign="middle" style="min-height:150px" background="<{ $template_dir }>/images/ABFinal_b.gif"  ><{ include file="Keyword.html" }></td>

                </tr>

                <tr>

                  <td><img src="<{ $template_dir }>/images/ABFinal_bottom.gif"  width="196" height="6" border="0" /></td>

                </tr>

                <tr></tr>

              </table>

            </div>

            <div >

              <script language="JavaScript" src="<{ $Site_Url }>/modules/advertising/adv.php?tag=left3" type="text/javascript"></script>

            </div></td>

          <td align="left" valign="top"  ><div>

              <script language="JavaScript" src="<{ $Site_Url }>/modules/advertising/adv.php?tag=right1" type="text/javascript"></script>

            </div>

            <img src="<{ $template_dir }>/images/Final.gif"  width="747" height="48" border="0" />

            <div>

              <script language="JavaScript" src="<{ $Site_Url }>/modules/advertising/adv.php?tag=right2" type="text/javascript"></script>

            </div>

            <div style=" width:745px; background-image:url(<{ $template_dir }>/images/Final_b.gif);background-repeat: repeat-x; height:187px">

              <table width="728" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#e7e7e7" style="margin-top:10px; padding-bottom:10px; padding-top:10px; ">

                <tr>

                  <td align="center"><script language="JavaScript" src="<{ $Site_Url }>/modules/advertising/adv.php?tag=rightbottom1" type="text/javascript"></script></td>

                  <td align="center"><script language="JavaScript" src="<{ $Site_Url }>/modules/advertising/adv.php?tag=rightbottom2" type="text/javascript"></script></td>

                  <td align="center"><script language="JavaScript" src="<{ $Site_Url }>/modules/advertising/adv.php?tag=rightbottom3" type="text/javascript"></script></td>

                </tr>

              </table>

            </div></td>

        </tr>

      </table></td>

  </tr>

  <tr>

    <td colspan="2"><table width="940" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-top:20px; margin-bottom:35px; margin-right:10px; margin-left:10px">

        <tr>

          <td width="230"  valign="top" align="left"   style="border-right:1px solid #d3d2d2"><script language="JavaScript" src="<{ $Site_Url }>/modules/advertising/adv.php?tag=bottom1" type="text/javascript"></script></td>

          <td width="235" align="center"  valign="top" style="border-right:1px solid #d3d2d2"><script language="JavaScript" src="<{ $Site_Url }>/modules/advertising/adv.php?tag=bottom2" type="text/javascript"></script></td>

          <td width="235" align="center"  valign="top"  style="border-right:1px solid #d3d2d2"><script language="JavaScript" src="<{ $Site_Url }>/modules/advertising/adv.php?tag=bottom3" type="text/javascript"></script></td>

          <td width="230"    valign="top"  align="right"><script language="JavaScript" src="<{ $Site_Url }>/modules/advertising/adv.php?tag=bottom4" type="text/javascript"></script></td>

        </tr>

      </table></td>

  </tr>

</table>
</div>
<script type="text/javascript">

        function formatText(index, panel) {

		  return index + "";

	    }

        $(function () {

            $('.anythingSlider').anythingSlider({

                easing: "easeInOutExpo",        // Anything other than "linear" or "swing" requires the easing plugin

                autoPlay: true,                 // This turns off the entire FUNCTIONALY, not just if it starts running or not.

                delay: 7000,                    // How long between slide transitions in AutoPlay mode

                startStopped: false,            // If autoPlay is on, this can force it to start stopped

                animationTime: 600,             // How long the slide transition takes

                hashTags: true,                 // Should links change the hashtag in the URL?

                buildNavigation: false,          // If true, builds and list of anchor links to link to each slide

        		pauseOnHover: true,             // If true, and autoPlay is enabled, the show will pause on hover

        		startText: "",             // Start text

		        stopText: "",               // Stop text

		        navigationFormatter: formatText       // Details at the top of the file on this use (advanced use)

            });

            

            $("#slide-jump").click(function(){

                $('.anythingSlider').anythingSlider(6);

            });

            

        });

    </script>

<{ include_php file="include/bottom.php" }>

<!--Float advertising Start-->

<{ if $Float_radio eq  1 }>

  <{ include_php file="modules/advertising/float.php" }>

  <{ /if }>

<!--Float advertising End -->

<!--Ear advertising Start -->

<{ if $Ear_radio eq 1 }>

  <{ include_php file="modules/advertising/ear.php" }>

  <{ /if }>

<!--Ear advertising End -->

</body>

</html>

