<table border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><div align="center"><table border="0"  cellpadding="0">
  <tr>
     <{ if $Friend_link_ima1 != '' }>
	 <td align="center" style="padding-right:15px"><div align="center"><a href="<{ $Friend_link_url1 }>" target="_blank"><img src="<{ $Site_Url }>/UploadFile/LinkPic/<{ $Friend_link_ima1 }>" width="<{ $Friend_link_width1 }>" height="<{ $Friend_link_height1 }>" vspace="5" border=0></a></div></td><{ /if }> 
	 <{ if $Friend_link_ima2 != '' }> 
     <td align="center" style="padding-right:15px"><div align="center"><a href="<{ $Friend_link_url2 }>" target="_blank"><img src="<{ $Site_Url }>/UploadFile/LinkPic/<{ $Friend_link_ima2 }>" width="<{ $Friend_link_width2 }>" height="<{ $Friend_link_height2 }>" vspace="5" border=0></a></div></td><{ /if }> 
	 <{ if $Friend_link_ima3 != '' }> 
     <td align="center" style="padding-right:15px"><div align="center"><a href="<{ $Friend_link_url3 }>" target="_blank"><img src="<{ $Site_Url }>/UploadFile/LinkPic/<{ $Friend_link_ima3 }>" width="<{ $Friend_link_width3 }>" height="<{ $Friend_link_height3 }>" vspace="5" border=0></a></div></td><{ /if }> 
	 <{ if $Friend_link_ima4 != '' }> 
    <td align="center" style="padding-right:15px"><div align="center"><a href="<{ $Friend_link_url4 }>" target="_blank"><img src="<{ $Site_Url }>/UploadFile/LinkPic/<{ $Friend_link_ima4 }>" width="<{ $Friend_link_width4 }>" height="<{ $Friend_link_height4 }>" vspace="5" border=0></a></div></td><{ /if }>
	 <{ if $Friend_link_ima5 != '' }> 
   <td align="center" style="padding-right:15px"><div align="center"><a href="<{ $Friend_link_url5 }>" target="_blank"><img src="<{ $Site_Url }>/UploadFile/LinkPic/<{ $Friend_link_ima5 }>" width="<{ $Friend_link_width5 }>" height="<{ $Friend_link_height5 }>" vspace="5" border=0></a></div></td> <{ /if }> 
    <{ if $Friend_link_ima6 != '' }> 
    <td align="center" style="padding-right:15px"><div align="center"><a href="<{ $Friend_link_url6 }>" target="_blank"><img src="<{ $Site_Url }>/UploadFile/LinkPic/<{ $Friend_link_ima6 }>" width="<{ $Friend_link_width6 }>" height="<{ $Friend_link_height6 }>" vspace="5" border=0></a></div></td> <{ /if }> 
  </tr>
</table>
</div></td>
  </tr>
</table>
