<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<title><{$title}> - <{ $HtmlTitle }></title>
<meta content="<{ $Meta_desc }>" name="description">
<meta content="<{ $Meta_keyword }>" name="keywords">
<meta name="Author" content="ESIT" />
<!--顯示分享-->
<meta property="og:title" content="全部品牌" />
<meta property="og:type" content="brand" />
<meta property="og:url" content="<{$Site_Url}>/brand/directory.php" />
<meta property="og:site_name" content="<{ $HtmlTitle }>" />
<meta property="og:description" content="<{ $Meta_desc }>" />
<!-- mobile settings -->
<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

<link rel="shortcut icon" href="<{ $Site_Url }>/images/favicon.ico" />
<!-- CORE CSS -->
		<link href="<{ $Site_Url }>/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<!-- WEB FONTS : use %7C instead of | (pipe) -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />

		<!-- THEME CSS -->
		<link href="<{ $Site_Url }>/assets/css/essentials.css" rel="stylesheet" type="text/css" />
		<link href="<{ $Site_Url }>/assets/css/layout.css" rel="stylesheet" type="text/css" />

		<!-- PAGE LEVEL SCRIPTS -->
		<link href="<{ $Site_Url }>/assets/css/header-1.css" rel="stylesheet" type="text/css" />
		<link href="<{ $Site_Url }>/assets/css/layout-shop.css" rel="stylesheet" type="text/css" />

<{ include_php file="include/ga.php" }>
</head>

<body class="smoothscroll enable-animation <{ if $boxed eq 1 }>boxed<{ /if }> breadcrumb-align" <{ if $use_background eq 1 }>data-background="<{ $Site_Url }>/UploadFile/LogoPic/<{ $shop_background }>"<{ /if }> <{ if $use_pattern eq 1 }>style="background:url('<{ $Site_Url }>/UploadFile/patterns/<{ $shop_pattern }>') repeat fixed;"<{ /if }>>

<{ include_php file="include/menu.php" }>
  <{ if $Ear_radio eq 1 }>	
	  <{ include_php file="modules/advertising/ear.php" }>
  <{ /if }>  
  
  
<{if $smarty.get.brand_id>0 }>
	<{if $brandname neq ""}>
		<!--品牌分類-->
		<{ include file="LM-include_brandclass.html" }>
	<{/if}>
<{/if}>  
  
<section class="page-header page-header-xs brandbread breadcrumb-align">
				<div class="container">

					<h1 class="bfont size-18 hidden"><{ $BrandArea }></h1>

					<!-- breadcrumbs -->
					<ol class="breadcrumb breadcrumb-inverse">
						<li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><a href="<{ $Site_Url }><{ $Site_Url }>/brand/<{ $smarty.get.brand_id }>" itemprop="url">主頁</a></span></li><li itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="active"><span itemprop="title"><{$title}></span></li>
					</ol><!-- /breadcrumbs -->

				</div>
			</section>
			<!-- /PAGE HEADER -->
            
			
			
			
			
            <!-- 內容 -->
<!--身體開始-->
			<section class="padding-top-0">
				<div class="container">
					<div id="article">
					<!--
					<{if $logopic neq ''}><img class="img-responsive image-hover" src="../UploadFile/LogoPic/<{ $logopic }>"/><{/if}>
						<h3 class="bfont"><{$title}></h3>
					-->	
						<{$content}>
					</div>
						<!--右邊結束-->
				</div>
			</section>

<!--身體結束-->


<{ include_php file="include/bottom.php" }>

</body>

</html>

