<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<link href="<{ $template_dir }>/css/css.css" rel="stylesheet" type="text/css">

<{ include_php file="include/include_ga.php" }>

</head>

<body margin="0" style="background-color:transparent">



<div align="left" style="margin-top:5px; padding-right:8px"><{ if $MemberState eq "0" }>Hi 歡迎來到 mini bambini。<{ elseif $MemberState eq "1" }> </div>



<table height="20" border="0" align="left" cellpadding="0" cellspacing="0" >



  <tr>



    <td  align="left" valign="top" class="dropmenudiv"><a href="<{$Site_Url}>/member" target="_parent">歡迎您,<{ $Session_truename }> [<{ $Session_userlevel }>]</a></td>



  <td width="46" align="right" valign="top" style="padding-left:6px;" class="dropmenudiv"><a href="<{ $Site_Url }>/member/member_login.php?Action=Logout" target="_parent" class="top">登出</a>&nbsp;</td>



  <!--退出登陆状态 -->



  </tr>



</table>



<{ /if }>	



</body></html>						  