<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>Untitled Document</title>
<{ include_php file="include/include_ga.php" }>

</head>
<body>
<table cellspacing="0" cellpadding="0" width="98%" border="0">
  <tbody>
    <tr>
      <td height="27"></td>
    </tr>
  </tbody>
</table>
<table cellspacing="0" cellpadding="0" width="98%" border="0">
  <tbody>
    <tr>
      <td bgcolor="#cccccc"><table cellspacing="1" cellpadding="4" width="100%" align="center" border="0">
        <tbody>
          <tr bgcolor="#ffffff">
            <td width="112" bgcolor="#eeeeee">訂單編號:</td>
            <td width="252">20091130001</td>
            <td width="107" bgcolor="#eeeeee">訂貨時間:</td>
            <td width="276">2009-11-30 20:06 pm </td>
          </tr>
          <tr bgcolor="#ffffff">
            <td width="112" bgcolor="#eeeeee">訂單狀態:</td>
            <td width="252"></td>
            <td nowrap="nowrap" align="left" width="107" bgcolor="#eeeeee">配送方式:</td>
            <td width="276">宅配/貨運</td>
          </tr>
          <tr bgcolor="#ffffff">
            <td width="112" bgcolor="#eeeeee">商品總金額:</td>
            <td width="252">420.00</td>
            <td nowrap="nowrap" width="107" bgcolor="#eeeeee">配送費用:</td>
            <td width="276">70</td>
          </tr>
          <tr bgcolor="#ffffff">
            <td width="112" bgcolor="#eeeeee">紅利使用點數:</td>
            <td width="252">0</td>
            <td nowrap="nowrap" width="107" bgcolor="#eeeeee">折價後總金額:</td>
            <td width="276">490</td>
          </tr>
          <tr bgcolor="#ffffff">
            <td width="112" bgcolor="#eeeeee">折價後金額:</td>
            <td width="252">400</td>
            <td width="107" bgcolor="#eeeeee">發票格式:</td>
            <td width="276">二聯式???易碩數位有限公司</td>
          </tr>
          <tr bgcolor="#ffffff">
            <td width="112" bgcolor="#eeeeee">配送費用:</td>
            <td width="252">20</td>
            <td width="107" bgcolor="#eeeeee">發票抬頭:</td>
            <td width="276"></td>
          </tr>
          <tr bgcolor="#ffffff">
            <td nowrap="nowrap" bgcolor="#eeeeee">消費總金額:</td>
            <td>420</td>
            <td bgcolor="#eeeeee">統一編號:</td>
            <td></td>
          </tr>
        </tbody>
      </table></td>
    </tr>
  </tbody>
</table>
<br />
<table cellspacing="0" cellpadding="0" width="98%" border="0">
  <tbody>
    <tr>
      <td height="27"></td>
    </tr>
  </tbody>
</table>
<table cellspacing="0" cellpadding="0" width="98%" border="0">
  <tbody>
    <tr>
      <td bgcolor="#cccccc"><table cellspacing="1" cellpadding="4" width="100%" align="center" border="0">
        <tbody>
          <tr bgcolor="#ffffff">
            <td nowrap="nowrap" width="112" bgcolor="#eeeeee">收貨人姓名:</td>
            <td width="252">fh</td>
            <td nowrap="nowrap" align="left" width="107" bgcolor="#eeeeee">電子信箱:</td>
            <td width="276">fh_snoopy@yahoo.com.cn</td>
          </tr>
          <tr bgcolor="#ffffff">
            <td nowrap="nowrap" bgcolor="#eeeeee">聯絡手機:</td>
            <td>fgfh</td>
            <td nowrap="nowrap" width="15%" bgcolor="#eeeeee">聯絡電話:</td>
            <td width="35%">1234566</td>
          </tr>
          <tr bgcolor="#ffffff">
            <td bgcolor="#eeeeee">收貨人地址:</td>
            <td colspan="3">台灣臺北市中正區fghfgh</td>
          </tr>
          <tr bgcolor="#ffffff">
            <td bgcolor="#eeeeee">宅配時間:</td>
            <td colspan="3">不指定時間</td>
          </tr>
          <tr bgcolor="#ffffff">
            <td bgcolor="#eeeeee">訂單備註:</td>
            <td colspan="3">???</td>
          </tr>
        </tbody>
      </table></td>
    </tr>
  </tbody>
</table>
<br />
<table cellspacing="0" cellpadding="0" width="98%" border="0">
  <tbody>
    <tr>
      <td height="27"></td>
    </tr>
  </tbody>
</table>
<table cellspacing="0" cellpadding="0" width="98%" border="0">
  <tbody>
    <tr>
      <td bgcolor="#cccccc"><table height="100%" cellspacing="1" cellpadding="4" width="100%" border="0">
        <tbody>
          <tr align="middle" bgcolor="#e4e3e1">
            <td nowrap="nowrap" width="7%">商品編號</td>
            <td width="55%" bgcolor="#e4e3e1">商品名稱</td>
            <td width="15%" bgcolor="#e4e3e1">顔色/尺寸</td>
            <td width="15%">網購價</td>
            <td width="12%">件數</td>
          </tr>
          <tr bgcolor="#ffffff">
            <td align="middle" width="15%" bgcolor="#ffffff">3I</td>
            <td bgcolor="#ffffff">經典豐唇蜜 Lip Gross<br />
                  <br />
              <br /></td>
            <td align="middle" width="15%" bgcolor="#ffffff">3IRO-807/</td>
            <td align="middle" width="15%" bgcolor="#ffffff">420 </td>
            <td align="middle" width="12%" bgcolor="#ffffff">1</td>
          </tr>
        </tbody>
      </table></td>
    </tr>
  </tbody>
</table>
<p>?</p>
</body>
</html>
