<table border="3" cellspacing="0" cellpadding="0" bgcolor="#ee2088"  bordercolor="#ee2088" padding="3px">
  <tr>
    <td><table height="21" border="0" align="left" cellpadding="0" cellspacing="0" bgcolor="#ee2088">
      <form  action="<{ $Site_Url }>/search/search_group.php"  method="get" name='searchbanner' id="searchbanner">
        <tr>
          <td width="68" align="right" style="padding-left:3px;"><input name="skey" class="input_search" id="skey3" size="25" onFocus="this.value=''" value="請輸入關鍵字"/></td>
          <td width="25" align="center" valign="middle"><input name="imageField" type="image"  src="<{ $template_dir }>/images/search-button.gif" border="0" /></td>
          <td width="26" align="center" valign="middle"><a href="<{ $Site_Url }>/search/adv_search_group.php"><img src="<{ $template_dir }>/images/search-more.gif" width="60" height="21" border="0" /></a></td>
        </tr>
      </form>
</table></td>
  </tr>
</table>
