<script language="javascript">
var options_change = {
		success:       function(msg){
			getShopping_c();
					},
		type:      'get',
		dataType:  'html',
		clearForm: false
	};
function delShopping(key,gkey){
	$.ajax({
				url: '../shopping/cart.php',
				data: 'Action=remove&key=' + key + '&gkey=' + gkey + '&Type=goods',
				type:'get',
				dataType:"html",
				cache: false,
				success: function(msg){
					getShopping_c();
				}
				});	
}
function changeShopping(key,gkey,count){
	$.ajax({
				url: '../shopping/cart.php',
				data: 'Action=change&key=' + key + '&gkey=' + gkey + '&count=' + count,
				type:'get',
				dataType:"html",
				cache: false,
				success: function(msg){
					getShopping_c();
				}
				});	
}
function getShopping_c(){
	$.ajax({
				url: '../shopping/shopping.php',
				data: 'type=goods',
				type:'get',
				dataType:"html",
				cache: false,
				success: function(msg){
					$('#show_shopping').html(msg);
				}
				});	
}
$('#continubuy').click(function() { 
	  $('body').unblock();
	  window.location.reload(); 
	});
</script>
<!--div align="right" style="z-index:3; position:relative; top:25px; left:470px"><a href="javascript:void(0);" onClick=" $('body').unblock();"><img src="<{ $template_dir }>/images/Delete.gif" border="0" /></a></div-->
<table width="820" height="350" border="0" align="center"cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" style="padding-bottom:15px; margin-bottom:15px; border:5px solid #cccccc" valign="top">
  
  <tr>
    <td align="left" ><div id="showshopping">
      <{if $Cart_count eq 0}>
      <div style="margin-left:100px;">您尚未選購商品
        <input type="button" name="button3" id="button3" value="繼續購物" onClick=" $('body').unblock();">
      </div>
      <{/if}>
	  <br />
      <!--<div style=" padding-left:30px">購物提醒：<br />
        只要您選購免運費商品或是消費滿<{$PayFreetrans}>元，即可享受免運費配送服務哦！ </div><br />-->

      <table width="740" border="0"  align="center" cellpadding="3" cellspacing="0"  style=" border:1px solid #cccccc; margin-bottom:15px">
        <{ section name=list loop=$Cart_item }>
        <tr>
          <td height="28" colspan="9" align="left" valign="middle" ><!--font color="#FF0000">購物車</font-->
          <strong><{$Cart_item[list].provider_name}> <{$Cart_item[list].trans_name}></strong></td>
        </tr>
        <tr style="color:#FFFFFF" valign="top">
          <td width="40" align="center" valign="middle" nowrap="nowrap" bgcolor="#cccccc">序號</td>
          <td width="80" align="center" valign="middle"  bgcolor="#cccccc">圖片</td>
          <td align="center"  valign="middle" bgcolor="#cccccc">商品名稱</td>
          <td width="90" align="center"  valign="middle" bgcolor="#cccccc">單價 </td>
          <td width="90" align="center"  valign="middle" bgcolor="#cccccc">數量</td>
          <td align="center"  valign="middle" bgcolor="#cccccc">小計</td>
          <td colspan="2" valign="middle" align="center" bgcolor="#cccccc" nowrap="nowrap">刪除</td>
        </tr>
        <{ section name=list1 loop=$Cart_item[list].goods }>
        <form method="get" action="../shopping/shopping.php" id="shoppingFom<{ $Cart_item[list].goods[list1].gkey }>">
          <input type=hidden name=Action value='change'>
          <input type=hidden name=Type value='goods'>
          <input type=hidden name=key value='<{ $Cart_item[list].key }>'>
          <input type=hidden name=gkey value='<{ $Cart_item[list].goods[list1].gkey }>'>
          <tr>
            <td align="center" bgcolor="#FFFFFF"><{math equation="(x+y)" x=$smarty.section.list1.index y=1 }></td>
            <td align="center" bgcolor="#FFFFFF" style="padding-top:5px"><a href="<{ $Site_Url }>/product/goods_detail.php?goods_id=<{ $Cart_item[list].goods[list1].gid }>" target='_blank'><img src='../<{ $Gpicpath }>/<{ $Cart_item[list].goods[list1].smallimg }>' width=70 border=0></a></td>
            <td bgcolor="#FFFFFF"><{if $Cart_item[list].goods[list1].ifchange eq 1 || $Cart_item[list].goods[list1].ifpresent eq 1 }><{ $Cart_item[list].goods[list1].goodsname }><{if $Cart_item[list].goods[list1].ifchange eq 1}>[加購商品]<{/if}><{if $Cart_item[list].goods[list1].ifpresent eq 1}>[滿額禮]<{/if}>
              <{else}><a href="<{ $Site_Url }>/product/goods_detail.php?goods_id=<{ $Cart_item[list].goods[list1].gid }>" target="_blank"><{ $Cart_item[list].goods[list1].goodsname }></a><{/if}><{if $Cart_item[list].goods[list1].xygoods_des neq ""}><{ $Cart_item[list].goods[list1].xygoods_des }><{/if}>
              
              <{if $Cart_item[list].goods[list1].good_color neq ""}><br>
              顏色：<{ $Cart_item[list].goods[list1].good_color }>
              <{/if}><{if $Cart_item[list].goods[list1].good_size neq ""}><br>
              尺寸：<{ $Cart_item[list].goods[list1].good_size }>
              <{/if}><{if $Cart_item[list].goods[list1].detail_name neq ""}><br>
              規格：<{ $Cart_item[list].goods[list1].detail_name }>
              <{/if}>
              <{if $Cart_item[list].goods[list1].detail_des neq ""}><br>
              <{ $Cart_item[list].goods[list1].detail_des }><{/if}> </td>
            <td align="center" bgcolor="#FFFFFF"><{ $Cart_item[list].goods[list1].price }>
              <{if ($Cart_item[list].goods[list1].ifjs eq 1)}> <img src="../images/co-price.gif"> <{/if}> </td>
            <td align="center" bgcolor="#FFFFFF"><{if $Cart_item[list].goods[list1].ifpresent eq 1 || $Cart_item[list].goods[list1].ifbonus eq 1 || $Cart_item[list].goods[list1].ifadd eq 1}>
              
              <{$Cart_item[list].goods[list1].count}>
              
              <{else}>
              <!--{ html_options name="count" options=$Cart_item[list].goods[list1].storagelist selected=$Cart_item[list].goods[list1].count }-->
              <select name="count<{ $Cart_item[list].goods[list1].skey }>" onchange="changeShopping('<{ $Cart_item[list].key }>','<{ $Cart_item[list].goods[list1].gkey }>',this.value);">
                <{foreach from=$Cart_item[list].goods[list1].storagelist key=tk item=tv  }> <{if $tv eq $Cart_item[list].goods[list1].count}>selected<{/if}>><{$tv}>
                <{if $tv eq $Cart_item[list].goods[list1].count}>selected<{/if}>><{$tv}>
                <{if $tv eq $Cart_item[list].goods[list1].count}>selected<{/if}>><{$tv}>
                <{if $tv eq $Cart_item[list].goods[list1].count}>selected<{/if}>><{$tv}>
                <option value="<{$tv}>" <{if $tv eq $Cart_item[list].goods[list1].count}>selected<{/if}>><{$tv}>
                </option>
                <{/foreach}>
              </select>
              <{/if}></td>
            <td align="center" bgcolor="#FFFFFF" class="prices"><{ $Cart_item[list].goods[list1].total }></td>
            <td align="center" bgcolor="#FFFFFF"><a href="javascript:void(0);" onClick="delShopping('<{ $Cart_item[list].key }>','<{ $Cart_item[list].goods[list1].gkey }>');"><img src="<{ $template_dir }>/images/Delete.gif" border="0" /></a></td>
          </tr>
        </form>
        <{ /section }>
        <tr>
          <td colspan="9" align="right" bgcolor="#FFFFFF" style="padding-right:10px;">商品總計：<{$Cart_item[list].totalprice}>元</td>
        </tr>
        <{ /section }>
    </table></td>
  </tr>
  <tr>
    <td align="right" width="500 " valign="top" style="padding-right:50px" > <input   type="button" name="button3" id="continubuy" value="繼續購物" onclick="$('body').unblock();" ><input  type=button name="button" id="button" id="button" value="開始結帳" onClick="location.href='../shopping/shopping.php?key=<{ $Cart_item[list].key}>&shop=shop';" >
   </td>
  </tr>
</table>