<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]--><head>
<meta charset="utf-8" />
<title>折扣運費 - <{ $HtmlTitle }></title>
<meta content="<{ $Meta_desc }>" name="description">
<meta content="<{ $Meta_keyword }>" name="keywords">
<meta name="Author" content="ESIT" />
<!-- mobile settings -->
<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

<link rel="shortcut icon" href="<{ $Site_Url }>/images/favicon.ico" />
<!-- CORE CSS -->
		<link href="<{ $Site_Url }>/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<!-- WEB FONTS : use %7C instead of | (pipe) -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />

		<!-- THEME CSS -->
		<link href="<{ $Site_Url }>/assets/css/essentials.css" rel="stylesheet" type="text/css" />
		<link href="<{ $Site_Url }>/assets/css/layout.css" rel="stylesheet" type="text/css" />

		<!-- PAGE LEVEL SCRIPTS -->
		<link href="<{ $Site_Url }>/assets/css/header-1.css" rel="stylesheet" type="text/css" />
		<link href="<{ $Site_Url }>/assets/css/layout-shop.css" rel="stylesheet" type="text/css" />


<{ include_php file="include/include_ga.php" }>
<style type="text/css">
<!--
.style1 {
	color: #FF0000
}
-->
</style>
<style type="text/css">
body {
	margin:0px;
}
#fullBg {
	background-color: Black;
	display:none;
	z-index:30;
	position:absolute;
	left:0px;
	top:0px;
	filter:Alpha(Opacity=30);
	/* IE */
-moz-opacity:0.4;
	/* Moz + FF */
opacity: 0.4;
}
#msg {
	position:absolute;
	z-index:40;
	display:none;
	background-color:#FFFFFF;
	border:1px solid #6633CC;
}
#msg #close {
	height:30px;
	text-align:right;
	padding-top:8px;
	padding-right:15px;
}
#msg #ctt {
	text-align:center;
	font-size:12px;
	padding-bottom:15px;
}
#cPic {
	cursor:pointer;
}
</style>
</head>

<body class="smoothscroll enable-animation <{ if $boxed eq 1 }>boxed<{ /if }>" <{ if $use_background eq 1 }>data-background="<{ $Site_Url }>/UploadFile/LogoPic/<{ $shop_background }>"<{ /if }> <{ if $use_pattern eq 1 }>style="background:url('<{ $Site_Url }>/UploadFile/patterns/<{ $shop_pattern }>') repeat fixed;"<{ /if }>>

<div id="fullBg"></div>
<div id="msg">
  <div id="close"></div>
  <div id="ctt"></div>
</div>
<{ include_php file="include/menu.php" }>
  <{ if $Ear_radio eq 1 }>	
	  <{ include_php file="modules/advertising/ear.php" }>
  <{ /if }>  
<script language="javascript" src="<{ $Site_Url }>/js/function.js"></script>
<script language="javascript" type="text/javascript" src="<{ $Site_Url }>/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../js/alter.js"></script>
<script src="<{ $Site_Url }>/js/area.js" type="text/javascript" charset="utf-8"></script>

			<section class="page-header page-header-xs">
				<div class="container">

					<h1 class="bfont size-18 hidden">折扣運費</h1>

					<!-- breadcrumbs -->
					<ol class="breadcrumb breadcrumb-inverse">
						<li><a href="<{ $Site_Url }>">Home</a></li>
                        <li><a href="<{ $Site_Url }>/shopping/shopping.php">購物車</a></li>
						<li class="active">折扣運費</li>
					</ol><!-- /breadcrumbs -->

				</div>
			</section>
			<!-- /PAGE HEADER -->
            
            <!-- 內容 -->
<section>
				<div class="container">
                 <div class="row">
                    <div class="col-md-12">
      <div class="shopping_steps">
         <div class="step_normal"><div class="step_normal_number">1</div>商品確認</div>
         <div class="step_arrow"><i class="icon-caret-right"></i></div>
         <div class="step_over"><div class="step_number">2</div>折扣運費</div>
         <div class="step_arrow"><i class="icon-caret-right"></i></div>
         <div class="step_normal"><div class="step_normal_number">3</div>填寫資料</div>  
         <div class="step_arrow"><i class="icon-caret-right"></i></div>
         <div class="step_normal"><div class="step_normal_number">4</div>訂單完成</div>
       </div>
      <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" id="shopping_table">
        <tr>
          <td height="19" valign="top"><{$provider_name}></td>
        </tr>
        <tr>
          <td height="69" align="center">
          
           <table class="table-hover responsive">
           <thead>
           <tr>
            <th class="span_hidden">序號</td>
            <th>圖片</td>
            <th>商品名稱</td>
            <th>單價 NT$ </td>
            <th>數量</td>
            <th>小計</td>
           </tr>
         </thead>
         <tbody>
              <{ section name=list loop=$Cart_item }>
              <form method="get" action="changeprice.php" name="priceform<{ $Cart_item[list].gkey }>" id="priceform<{ $Cart_item[list].gkey }>">
                <input type=hidden name=Action value='change'>
                <input type=hidden name=key value='<{ $smarty.get.key }>'>
                <input type=hidden name=gkey value='<{ $Cart_item[list].gkey }>'>
                <tr>
                  <td data-label="序號" class="span_hidden"><{math equation="(x+y)" x=$smarty.section.list.index y=1 }></td>
                  <td data-label="圖片"><a href="<{ $Site_Url }>/product/detail<{ $Cart_item[list].gid }>">
                  <img src='<{if $Cart_item[list].smallimg eq ''}><{ $Site_Url }>/images/pic.png<{else}>../<{ $Gpicpath }>/<{ $Cart_item[list].smallimg }><{/if}>' width="70" alt="<{ $Cart_item[list].goodsname }>" />
                 
                  </a></td>
                  <td data-label="商品名稱" class="receivePay_text"><{if $Cart_item[list].ifchange eq 1 || $Cart_item[list].ifpresent eq 1 || $Cart_item[list].goods[list1].ifbonus eq 1 }>
                    
                    <{ $Cart_item[list].goodsname }>
                    
                    <{if $Cart_item[list].ifchange eq 1}>[加購商品]<{/if}>
                    
                    <{if $Cart_item[list].ifpresent eq 1}>[滿額禮]<{/if}>
                    
                    <{else}> <a href="<{ $Site_Url }>/product/detail<{ $Cart_item[list].gid }>"><{ $Cart_item[list].goodsname }></a> <{if $Cart_item[list].packgid>0}>[組合商品]<{/if}> <{/if}>
                    
                    <{if $Cart_item[list].xygoods_des neq ""}>
                    
                    <{ $Cart_item[list].xygoods_des }>
                    
                    <{/if}>
                    
                    <{if $Cart_item[list].good_color neq ""}> <br>
                    顏色：<{ $Cart_item[list].good_color }>
                    
                    <{/if}>
                    
                    <{if $Cart_item[list].good_size neq ""}> <br>
                    尺寸：<{ $Cart_item[list].good_size }>
                    
                    <{/if}>
                    
                    <{if $Cart_item[list].detail_name neq ""}> <br>
                    規格：<{ $Cart_item[list].detail_name }><{if $Cart_item[list].detail_des neq ""}> —— <{ $Cart_item[list].detail_des }><{/if}>
                    
                    <{/if}> 
                    <{if $Cart_item[list].rebateinfo neq ""}><br>
                    <{ $Cart_item[list].rebateinfo }><{/if}> </td>
                  <td data-label="單價 NT$"><{if $Cart_item[list].packgid eq 0}><{ $Cart_item[list].price }>
                    <{if ($Cart_item[list].ifjs eq 1)}> <img src="../images/co-price.gif"> <{/if}><{/if}></td>
                  <td data-label="數量"><{ $Cart_item[list].count }></td>
                  <td data-label="小計"><{if $Cart_item[list].packgid eq 0}><{ $Cart_item[list].total }><{ if $Cart_item[list].totalcombi>0 }>+<{$Cart_item[list].totalcombi}>積分<{/if}><{/if}></td>
                </tr>
              </form>
              <{ /section }>
              </tbody>
            </table></td>
        </tr>
        <tr>
          <td height="24" align="right" valign="middle"><div class="shop-item-price height-50">商品總金額：<{$Cart_totalPrices}>元</div></td>
        </tr>
        <{ if $em_goods_array neq '' }>
        <tr>
          <td align="left" class="shopping2_present"><div class="important-txt size-16 margin-top-10"><i class="fa fa-caret-down"></i> <b>滿額好禮</b></div>
            <{ section name=list loop=$em_goods_array }>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <table border="0" cellpadding="3" cellspacing="0" id="cart_add_items">
                <tr>
                  <td valign="top" align="center" class="pics" style="padding-right:10px"><a class="lightbox" href="../product/showProduct.php?goods_id=<{ $em_goods_array[list].gid }>" data-lightbox="iframe" data-plugin-options='{"type":"ajax", "closeOnBgClick":false}'>
                  <img id="linkimg" src="<{if $em_goods_array[list].smallimg eq ''}><{ $Site_Url }>/images/pic.png<{else}>../UploadFile/GoodPic/<{ $em_goods_array[list].smallimg }><{/if}>" width=70 border=0>
                  
                  </a></td>
                  <td valign="top" align="left" class="infor"><a class="lightbox" href="../product/showProduct.php?goods_id=<{ $em_goods_array[list].gid }>" data-lightbox="iframe" data-plugin-options='{"type":"ajax", "closeOnBgClick":false}'><{ $em_goods_array[list].goodsname }></a><br>
                    額滿禮：<{ $em_goods_array[list].present_money }>
                    <{ if $em_goods_array[list].have_present_money>0 }> <br>
                    <b>還需要<{ $em_goods_array[list].have_present_money }></b> <{ /if }> <br />
                    <span class="important-txt"><i class="icon-hand-up"></i>&nbsp;<a href="cart.php?Action=presentgoods&gid=<{ $em_goods_array[list].gid }>&key=<{ $smarty.get.key }>" class="addcart">選擇此贈禮</a></span></td>
                </tr>
              </table>
            </div>
            <{ /section }></td>
        </tr>
        <{/if}>
        <tr>
          <td height="24" align="right" valign="middle" >&nbsp;</td>
        </tr>
        <{if $cart_usebonus eq 1 ||$cart_useticket eq 1  }>
        <tr>
          <td><div class="trans_name" style="width:auto;margin-bottom:0"><i class="icon-circle-arrow-right"></i> 折扣計算</div></td>
        </tr>
        <tr>
                <td style="padding-bottom: 5px;"><span class="price">＊紅利折抵與折價券不可同時使用</span></td>
              </tr>
        <tr>
          <td align="center" class="uhea">
          <{if $cart_usebonus eq 1}>
          <table width="100%" height="30" border="0" cellpadding="3" cellspacing="0" class="red_bonus nomargin">
              <tr>
                <td style="padding-bottom:5px;"><strong style="font-size:15px;">紅利折抵點數</strong></td>
              </tr>
              <tr>
                <td height="19" valign="top">您目前擁有<span class="price"><{$sumpoint}></span>點紅利</td>
              </tr>
              <form action="cart.php?Action=bonus" method="post" onSubmit="javascript:return checkpointform(this);">
                <input type="hidden" name="MemberPice_total" value="<{ $Cart_totalPrices }>">
                <input type="hidden" name="key" value="<{ $smarty.get.key }>">
                <tr>
                  <td align="left"><div style="float:left">*本訂單您最多可以抵扣<span class="prices"> <{ $MaxbonusPoint }> </span>點紅利</div>
                    <br>
                    <div style="float:left; line-height:30px;">請輸入您要使用的點數</div>
                    <input class="form-control" style="width:57px; height:30px;margin-left: 5px;margin-right: 5px;float:left" name="point" type="text" size="5" maxlength="5" value="<{ $Cart_bonus }>">
                    <input type="submit" name="Submit" value="使用" class="btn btn-primary btn-sm" /></td>
                </tr>
              </form>
            </table>
            <hr>
            <{/if}>
            <{if $cart_useticket eq 1}>
            <table width="100%" cellpadding="3" cellspacing="0" class="tickits nomargin">
              <tr>
                <td style="padding-bottom:5px;"><strong style="font-size:15px;">使用折價券</strong></td>
              </tr>
              <tr style="display:none">
                <td align="left">
                <label class="radio">
                <input name="ticketuseid" type="radio" style="display:none" value="0" 
									<{ if ($Cart_tickets.id eq 0) }> checked <{ /if }> onClick="location.href='cart.php?Action=ticket&ticketid=0&key=<{ $smarty.get.key }>';"><i></i>不使用折價券</label></td>
              </tr>
              <{ section name=list loop=$TicketList }>
              <tr>
                <td align="left">
                <label class="radio">
                <input type="radio" name="ticketuseid" style="display:none" value="<{ $TicketList[list].tickeid }>" onClick="location.href='cart.php?Action=ticket&ticketid=<{ $TicketList[list].tickeid }>&key=<{ $smarty.get.key }>';" <{ if ($Cart_tickets.id eq $TicketList[list].tickeid) }> checked <{ /if }>><i></i><{ $TicketList[list].ticketname }></label>
                  <!--可抵用<{ $TicketList[list].money }>元,可使用<{ $TicketList[list].count }>次--></td>
              </tr>
              <{ /section }>
              <tr>
                <td align="left">
                <label class="radio" style="float:left">
                <input name="ticketuseid" type="radio" style="display:none" value="-1" <{ if ($Cart_tickets.type eq 1) }> checked <{ /if }> ><i></i>使用通用折價券</label>
                  <input class="form-control" style="width:162px; height:30px;margin-right: 5px;float:left" name="ticketcode" id="ticketcode" type="text" value="<{ $Cart_tickets.ticketcode }>" onClick="if (this.value == '請輸入折價券號碼'){ this.value='';} else if(this.value==''){ this.value='請輸入折價券號碼';}" onMouseOut="if(this.value==''){ this.value='請輸入折價券號碼';}">
                  <input style="float:left" name="Input" type="button" value="使用" onClick="location.href='cart.php?Action=ticket&ticketid=-1&key=<{ $smarty.get.key }>&ticketcode=' + document.getElementById('ticketcode').value;" class="btn btn-primary btn-sm"></td>
              </tr>
              <tr>
                <td align="right"><div  class="shop-item-price">折扣後金額：<{$Cart_discount_totalPrices}>元</div></td>
              </tr>
            </table><{/if}></td>
        </tr>
        <{/if}>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><div class="trans_name" style="width:auto;margin-bottom:0"><i class="icon-circle-arrow-right"></i> 配送地區及運費</div></td>
        </tr>
        <tr>
        <td style="padding-bottom:5px;">
        <span class="prices">＊請務必選擇配送地區，謝謝。</span>
        </td>
        </tr>
        <tr>
          <td height="35" align="left">
          <div class="county_title col-lg-12 col-md-12 col-sm-12 col-xs-12">
          配送地區：
            <select id="county" name="county" class="nopadding height-30 margin-top-6 margin-bottom-6">
            </select>
            <select id="province" name="province" class="nopadding height-30 margin-top-6 margin-bottom-6">
            </select>
            </div>
            </td>
        </tr>
        <tr>
          <td align="center" id="showtransport"></td>
        </tr>
        <tr>
          <td height="38" align="center" style=" padding-top:20px;"><input type="button" name="button" id="button" value="上一步" onClick="location.href='shopping.php';" class="btn size-15 cart_botton" />
            <input type="button" name="button2" id="shopping2button" value="下一步" onClick="checkShopping();" class="btn size-15 btn-primary cart_botton_r" /></td>
        </tr>
      </table>
                    </div>
                  </div>
                </div>
            </section>



<div id="show_product" style="display:none;cursor:default;"></div>
<script language="javascript">
function checkpointform(myform){
	if (myform.point.value == ""){
		alert("請填寫需要抵扣的紅利點數");
		return false;
	}else if (isnum(myform.point.value) == -1){
		alert("請填寫數字");
		return false;
	}else if (myform.point.value > <{ $MaxbonusPoint }>){
		alert("您最多可以抵扣<{ $MaxbonusPoint }>點紅利");
		return false;
	}
}
</script>
<script language="JavaScript">
function getTransport(){
		$.ajax({
		url: "shopping_ajax_transport.php",
		data: "county=" + encodeURIComponent($("#county option:selected").text()) + "&province=" + encodeURIComponent($("#province option:selected").text()) + "&key=<{ $smarty.get.key }>",
		type:'get',
		dataType:"html",
		success: function(msg){
			$('#showtransport').html(msg);
		}
	});	
}
iniArea("",0,"","","");

$("#county").change(function(){getTransport();});
$("#province").change(function(){getTransport();});

function setNomalTrans(key,transid,storeid){
	$.ajax({
		url: "shopping_ajax_transport.php",
		data: "county=" + encodeURIComponent($("#county option:selected").text()) + "&province=" + encodeURIComponent($("#province option:selected").text()) + "&key=<{ $smarty.get.key }>&transid=" + transid + "&store_id=" + storeid,
		type:'get',
		dataType:"html",
		success: function(msg){
			$('#showtransport').html(msg);
		}
	});	
}
function checkShopping(){
	<{if $MinBuyMoney<=$Cart_discount_totalPrices}>
	<{if $provider_id eq 0}>
	$.ajax({
		url: "shopping_ajax_checkshopping.php",
		data: "county=" + encodeURIComponent($("#county option:selected").text()) + "&province=" + encodeURIComponent($("#province option:selected").text()) + "&key=<{ $smarty.get.key }>&sid=<{$sid}>",
		type:'get',
		dataType:"html",
		success: function(msg){
			if (msg==1){
				location.href = "shopping3.php?key=<{ $smarty.get.key }>";
			}else{
				alert("請選擇地區，或者您選擇的地區無法運達");	
			}
				
		}
	});	
	<{else}>
	location.href = "shopping3.php?key=<{ $smarty.get.key }>";
	<{/if}>
	<{else}>
	alert('未達到最小購買金額');
	<{/if}>
}
</script>
<{ include_php file="include/bottom.php" }>
</body>
</html>
