<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta content="波比元氣生活網" name="description">
<meta content="保健食品" name="keywords"><title>波比元氣生活網 -- 快速導覽 </title>
<link href="http://www.bobelife.com.tw/templates/bobe/css/fire.css" rel="stylesheet" type="text/css">
<link href="<{ $template_dir }>/css/menu_a.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
.bgrepeat {
	BACKGROUND-POSITION: center top;
	BACKGROUND-REPEAT: repeat-x;
	background-image: url(http://www.bobelife.com.tw/templates/bobe/images/top_back.jpg);
}
-->
</style>
<{ include_php file="include/include_ga.php" }>

</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<link rel="shortcut icon" href="<{ $Site_Url }>/favicon.ico" />
<script type="text/JavaScript">
<!--
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
<table width="961" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="961" height="71" align="left" valign="top"><table width="961" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:8px;">
      <tr>
        <td width="19" height="35"><img src="http://www.bobelife.com.tw/templates/bobe/images/menu_left_bg.gif" width="19" height="35" /></td>
        <td width="145"><a href="http://www.bobelife.com.tw/product/product_class_detail.php?bid=1" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image16','','http://www.bobelife.com.tw/templates/bobe/images/main_menu012.gif',1);showmenufun('bmenu1')"><img src="http://www.bobelife.com.tw/templates/bobe/images/main_menu01.gif" name="Image16" width="145" height="35" border="0" id="Image16" /></a></td>
        <td width="136"><a href="http://www.bobelife.com.tw/product/product_class_detail.php?bid=2" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image17','','http://www.bobelife.com.tw/templates/bobe/images/main_menu022.gif',1);showmenufun('bmenu2')"><img src="http://www.bobelife.com.tw/templates/bobe/images/main_menu02.gif" name="Image17" width="136" height="35" border="0" id="Image17" /></a></td>
        <td width="141"><a href="http://www.bobelife.com.tw/product/product_class_detail.php?bid=3" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image18','','http://www.bobelife.com.tw/templates/bobe/images/main_menu032.gif',1);showmenufun('bmenu3')"><img src="http://www.bobelife.com.tw/templates/bobe/images/main_menu03.gif" name="Image18" width="141" height="35" border="0" id="Image18" /></a></td>
        <td width="143"><a href="http://www.bobelife.com.tw/product/product_class_detail.php?bid=4" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image19','','http://www.bobelife.com.tw/templates/bobe/images/main_menu042.gif',1);showmenufun('bmenu4')"><img src="http://www.bobelife.com.tw/templates/bobe/images/main_menu04.gif" name="Image19" width="143" height="35" border="0" id="Image19" /></a></td>
        <td width="26"><img src="http://www.bobelife.com.tw/templates/bobe/images/main_center.gif" width="26" height="35" /></td>
        <td width="25" background="http://www.bobelife.com.tw/templates/bobe/images/main_bg.gif">&nbsp;</td>
        <td width="286" background="http://www.bobelife.com.tw/templates/bobe/images/main_bg.gif">  <table width="281" border="0" align="right" cellpadding="0" cellspacing="0">
    <FORM name='searchbanner'  action="http://www.bobelife.com.tw/search/search.php"  method=get>
      <tr>
        <td width="1" height="22" align="right"></td>
        <td width="126" align="right"><input name=skey class="input_search" id="skey3" size="18" onFocus="this.value=''" value="請輸入關鍵字"></td>
        <td width="80" align="left" valign="bottom" style="padding-bottom:1px;"><input name=imageField type=image  src="http://www.bobelife.com.tw/templates/bobe/images/search.gif" width="80" height="21
		" border="0"></td>
        <td width="90" valign="bottom" style="padding-right:3px;padding-bottom:1px;"><a href="http://www.bobelife.com.tw/search/adv_search.php"><img src="http://www.bobelife.com.tw/templates/bobe/images/search_ad.gif" width="80" height="21" border="0"></a></td>
      </tr>
    </form>
  </table></td>
        <td width="23" background="http://www.bobelife.com.tw/templates/bobe/images/main_bg.gif">&nbsp;</td>
        <td width="17"><img src="http://www.bobelife.com.tw/templates/bobe/images/main_menu_right.gif" width="16" height="35" /></td>
      </tr>
    </table>
    <div id="showbmenu"  >
        <div style="display:none" id="bmenu1" style="padding-left:0px;">
         <a href="http://www.bobelife.com.tw/product/product_class_detail.php?bid=5">健康補給</a> <font color="cccccc">︱</font>
         <a href="http://www.bobelife.com.tw/product/product_class_detail.php?bid=6">輕盈窈窕</a> <font color="cccccc">︱</font>
         <a href="http://www.bobelife.com.tw/product/product_class_detail.php?bid=7">無糖美食</a> <font color="cccccc">︱</font>
         <a href="http://www.bobelife.com.tw/product/product_class_detail.php?bid=8">輕食簡餐</a> <font color="cccccc">︱</font>
         <a href="http://www.bobelife.com.tw/product/product_class_detail.php?bid=9">天然調理</a> <font color="cccccc">︱</font>
         <a href="http://www.bobelife.com.tw/product/product_class_detail.php?bid=10">烹調好油</a> <font color="cccccc">︱</font>
         <a href="http://www.bobelife.com.tw/product/product_class_detail.php?bid=11">休閒養生</a> <font color="cccccc">︱</font>
         <a href="http://www.bobelife.com.tw/product/product_class_detail.php?bid=12">口氣清新</a> <font color="cccccc">︱</font>      
		 </div>
        <div style="display:none" id="bmenu2" style="padding-left:145px;">
         <a href="http://www.bobelife.com.tw/product/product_class_detail.php?bid=48">輕鬆暢飲</a> <font color="cccccc">︱</font>
         <a href="http://www.bobelife.com.tw/product/product_class_detail.php?bid=49">健康活力</a> <font color="cccccc">︱</font>
         <a href="http://www.bobelife.com.tw/product/product_class_detail.php?bid=50">溫馨熱飲</a> <font color="cccccc">︱</font>
         <a href="http://www.bobelife.com.tw/product/product_class_detail.php?bid=51">絕品好茶</a> <font color="cccccc">︱</font>
        </div>
        <div style="display:none" id="bmenu3" style="padding-left:190px;">
         <a href="http://www.bobelife.com.tw/product/product_class_detail.php?bid=52">潔淨居家</a> <font color="cccccc">︱</font>
         <a href="http://www.bobelife.com.tw/product/product_class_detail.php?bid=66">優活廚房</a> <font color="cccccc">︱</font>
         <a href="http://www.bobelife.com.tw/product/product_class_detail.php?bid=53">清潔幫手</a> <font color="cccccc">︱</font>
         <a href="http://www.bobelife.com.tw/product/product_class_detail.php?bid=54">愛護口腔</a> <font color="cccccc">︱</font>
         <a href="http://www.bobelife.com.tw/product/product_class_detail.php?bid=55">個人護理</a> <font color="cccccc">︱</font>
         <a href="http://www.bobelife.com.tw/product/product_class_detail.php?bid=56">呵護貝比</a> <font color="cccccc">︱</font>
         <a href="http://www.bobelife.com.tw/product/product_class_detail.php?bid=57">淨化空氣</a> <font color="cccccc">︱</font>
         <a href="http://www.bobelife.com.tw/product/product_class_detail.php?bid=58">清新愛車</a> <font color="cccccc">︱</font>
         <a href="http://www.bobelife.com.tw/product/product_class_detail.php?bid=59">活力科技</a> <font color="cccccc">︱</font>
        </div>
        <div style="display:none" id="bmenu4" style="padding-left:435px;">
         <a href="http://www.bobelife.com.tw/product/product_class_detail.php?bid=60">伴手好禮</a> <font color="cccccc">︱</font>
        </div>
		<div style="display:none" id="bmenu5" style="padding-left:145px;">
         <a href="http://www.bobelife.com.tw/product/product_class_detail.php?bid=48">輕鬆暢飲</a> <font color="cccccc">︱</font>
         <a href="http://www.bobelife.com.tw/product/product_class_detail.php?bid=49">健康活力</a> <font color="cccccc">︱</font>
         <a href="http://www.bobelife.com.tw/product/product_class_detail.php?bid=50">溫馨熱飲</a> <font color="cccccc">︱</font>
         <a href="http://www.bobelife.com.tw/product/product_class_detail.php?bid=51">絕品好茶</a> <font color="cccccc">︱</font>
        </div>
        <div style="display:none" id="bmenu6" style="padding-left:145px;">
         <a href="http://www.bobelife.com.tw/product/product_class_detail.php?bid=48">輕鬆暢飲</a> <font color="cccccc">︱</font>
         <a href="http://www.bobelife.com.tw/product/product_class_detail.php?bid=49">健康活力</a> <font color="cccccc">︱</font>
         <a href="http://www.bobelife.com.tw/product/product_class_detail.php?bid=50">溫馨熱飲</a> <font color="cccccc">︱</font>
         <a href="http://www.bobelife.com.tw/product/product_class_detail.php?bid=51">絕品好茶</a> <font color="cccccc">︱</font>
        </div>

        <div>    </td>
  </tr>
</table>
<script language="javascript">
function showmenufun(id){
	var obj,showobj,imgobj,myobj,len;

	obj = document.getElementById("showbmenu").getElementsByTagName("div");
	len = 4;
	
	for(z=1;z<=len;z++){

		myobj = document.getElementById("bmenu" + z);
		
		
		if(id == "bmenu" + z)
			myobj.style.display = "";
		else
			myobj.style.display = "none";

	}
}
</script>

</body>
</html>
