#Top1{height:75px;overflow:hidden;}
#bt_0_layout_b101{width:200px;height:75px;float:left;}
#bt_0_001_01{width:200px;height:75px;overflow:hidden;}
#bt_0_001_01 .TabContent{width:200px;height:75px;}
#bt_0_001_01 .TabContent .TabContentD{display:none;}
#bt_0_001_01 .TabContent .First-Element{display:block;}
#bt_0_001_01 .TabContent .selected{display:block;}
#bt_0_001_01 .TabContent .TabContentD img{border:0px;width:200px;height:75px;}

#bt_0_layout_b102{width:325px;height:75px;float:left;}
#bt_0_002_01{width:325px;height:75px;overflow:hidden;}
#bt_0_002_01 .TabContent{width:325px;height:75px;}
#bt_0_002_01 .TabContent .TabContentD{display:none;}
#bt_0_002_01 .TabContent .First-Element{display:block;}
#bt_0_002_01 .TabContent .selected{display:block;}
#bt_0_002_01 .TabContent .TabContentD img{border:0px;width:325px;height:75px;}

#bt_0_layout_b103{width:455px;height:75px;float:left;}
#bt_0_003_01{width:455px;height:75px;overflow:hidden;}
#bt_0_003_01 .CL1{width:63px;margin:4px 0 0 20px;overflow:hidden;float:left;}
#bt_0_003_01 .CL2{width:297px;_width:269px;margin:6px 0 0 0px;overflow:hidden;float:left;}
#bt_0_003_01 .CL2 .CL21{overflow: hidden; width: 209px; float: left;}
#bt_0_003_01 .CL2 .CL22{overflow: hidden; width: 70px; height: 15px; margin-left: 4px;}
#bt_0_003_01 .CL2 .CL21 a:link{color:#666666;}
#bt_0_003_01 .CL2 .CL21 span{color:#666666;cursor:pointer;}
#bt_0_003_01 .CL2 .CL21 a:link, #bt_0_003_01 .CL2 a:visited{color:#666666;font-family:Arial,Helvetica,sans-serif;font-size:12px;text-decoration:none;}
#bt_0_003_01 .CL2 .CL21 a:hover{color:#666666;text-decoration:underline}
#bt_0_003_01 .CL3{width:75px;margin:4px 0 0 0px;overflow:hidden;;}
#bt_0_003_01 .CL4{width:73px;margin:4px 0 0 4px;_margin:0 0 0 12px;overflow:hidden;float:left;text-align:right;}
#bt_0_003_01 .CL2 .CL21 .ShoppingCarTopHover{color:#FF3366;font-weight:bold;}
#EVENT_ECTOP_DIV{width:95px;height:36px;_width:100px;margin-top:4px;float:left;display:none;}
#EVENT_BCBOTTOM_DIV{width:0px;height:0px;overflow:hidden;float:left;display:none;}

#Top2{height:60px;overflow:hidden;}
#bt_0_layout_b104{width:200px;height:60px;float:left;}
#bt_0_004_01{width:200px;height:60px;overflow:hidden;}
#bt_0_004_01 .TabContent{width:200px;height:60px;}
#bt_0_004_01 .TabContent .TabContentD{display:none;}
#bt_0_004_01 .TabContent .First-Element{display:block;}
#bt_0_004_01 .TabContent .selected{display:block;}
#bt_0_004_01 .TabContent .TabContentD img{border:0px;width:200px;height:60px;}

#bt_0_layout_b105{width:450px;height:60px;float:left;}
#bt_0_047_01{width:400px;height:15px;overflow:hidden;padding:10px 0px 0px 55px;}
#bt_0_047_01 .header{color:#666666;float:left;}
#bt_0_047_01 ul{width:350px;height:20px;overflow:hidden;}
#bt_0_047_01 ul li {overflow:hidden;float:left;margin-right:10px;}
#bt_0_047_01 ul li a {color:#0066FF;text-decoration:none;}
#bt_0_047_01 ul li a span{color:#0066FF;}
#bt_0_047_01 ul li a:hover{text-decoration:underline;}
#bt_0_005_01{width:425px;height:31px;overflow:hidden;padding:4px 0px 0px 25px;}
#bt_0_005_01 .SearchBox{width:425px; height:31px;padding-top:2px}
#bt_0_005_01 .SearchBox input{float:left;color:black;font-size:13px;text-align:left;width:140px;height:15px;margin:0px 4px}
#bt_0_005_01 .SearchBox select{float:left;color:black;font-size:13px;text-align:left;width:113px;height:21px;margin-right:3px}
#bt_0_005_01 .SearchBox img{float:left;}

#bt_0_layout_b106{width:330px;height:60px;float:left;}
#bt_0_006_01{width:330px;height:60px;overflow:hidden;}
#bt_0_006_01 ul{width:330px;height:60px;overflow:hidden;}
#bt_0_006_01 ul li{float:left;display:inline;}
#bt_0_006_01 ul li.DEL{display:none;}
#bt_0_006_01 ul li img{float:left;}

#Top3{height:4px;overflow:hidden;}
#bt_0_058_01 {width:980px;height:4px;overflow:hidden;}
#bt_0_058_01 div{width:980px;height:4px;overflow:hidden;}

#Top4{height:33px;overflow:hidden;}
#bt_0_layout_b107{width:980px;height:33px;float:left;}
#bt_0_007_01{width:980px;height:33px;text-align:center;background:transparent url(/ecm/img/de/0/bt_0_007/header_menu_bg.gif) repeat-x;overflow:hidden;}
#bt_0_007_01 .Menu{height:33px;margin-left:15px;overflow:hidden;}
#bt_0_007_01 .Menu .MoMoDDM{list-style-image: none;list-style-position: outside;list-style-type: none;}
#bt_0_007_01 .Menu .MoMoDDM li{color:#666666;float:left;font-weight:bold;height:33px;line-height:33px;}
#bt_0_007_01 .Menu .MoMoDDM li a{color:#666666;}
#bt_0_007_01 .Menu .MoMoDDM .ProRed{color:#FF0000;}
#bt_0_007_01 .Menu .MoMoDDM .MoMoHome{width:60px;text-align:center;background:transparent url(/ecm/img/de/0/bt_0_007/header_menu_dot3.gif) repeat-x;}
#bt_0_007_01 .Menu .MoMoDDM .MoMoHome a{color:#FFFFFF;}
#bt_0_007_01 .Menu .MoMoDDM .MoMoHomeLeft{width:6px;height:33px;}
#bt_0_007_01 .Menu .W5{width:77px;height:33px;line-height:33px;}
#bt_0_007_01 .Menu .W4{width:68px;height:33px;line-height:33px;}
#bt_0_007_01 .Menu .W2{width:52px;height:33px;line-height:33px;}
#bt_0_007_01 .Menu .MoMoDDMHead img{width:7px;height:33px;vertical-align:middle;}
#bt_0_007_01 .Menu .MoMoDDMHead{cursor:pointer;text-align:right;}
#bt_0_007_01 .Menu .BGH{color:#000000;}
#bt_0_007_01 .Menu .MoMoDDMHead .MoMoDDMSub{width:142px;}
#bt_0_007_01 .Menu .MoMoDDMHead .MoMoDDMSub li{width:132px;margin:0;padding:0;text-align:left;height:28px;line-height:28px;float:left;overflow:hidden;border-left:1px solid #FFFFFF;border-right:0px solid #FFFFFF;}
#bt_0_007_01 .Menu .MoMoDDMHead .MoMoDDMSub li a{margin:0px;height:24px;line-height:24px;width:132px;padding-left:8px;font-size:13px;color:#FFFFFF;font-weight:normal;display:block;text-align:left;}
#bt_0_007_01 .Menu .MoMoDDMHead .MoMoDDMSub li a span{color:#000000;}
#bt_0_007_01 .Menu .MoMoDDMHead .MoMoDDMSub li a img{width:75px;height:75px;}
#bt_0_007_01 .Menu .MoMoDDMHead .MoMoDDMSub .icon{margin: 3px; width: 32px; height: 16px;}
#bt_0_007_01 .Menu .MoMoDDMHead .MoMoDDMSub .BGH a {color:#FFFFFF;}
#bt_0_007_01 .Menu .MoMoDDMHead .MoMoDDMSub .BGH a span{color:#FFFFFF;}
#bt_0_007_01 .Menu .MoMoDDMHead .MoMoDDMSub .SubBgTop{display: inline;line-height:1px;height:1px;background:transparent url(/ecm/img/cmm/main/header_line2.gif) repeat-x;}
#C1100000000.BGH{background:transparent url(/ecm/img/de/0/bt_0_007/header_menu_bg01.gif) repeat-x;}
#bt_0_007_01 #C1100000000 .MoMoDDMSub {border-top:5px solid #F5B7DA;}
#bt_0_007_01 #C1100000000 .MoMoDDMSub li{border-left:5px solid #F5B7DA;border-right:1px solid #F5B7DA;background:#FFFFFF url(/ecm/img/de/0/bt_0_007/menu_bgdot_11.gif) repeat-x scroll 0 27px;}
#bt_0_007_01 #C1100000000 ul li{background:transparent url(/ecm/img/de/0/bt_0_007/menu_bgdot_11_1.gif) repeat-x scroll 0 24px;}
#bt_0_007_01 #C1100000000 .MoMoDDMSub .BGH{background-color:#FC8DB2;}
#bt_0_007_01 #C1100000000 li.RightLi{width:129px;border-left:0px;border-right:1px solid #F5B7DA;}
#bt_0_007_01 #C1100000000 li.RightLastLi{border-right:5px solid #F5B7DA;}
#bt_0_007_01 #C1100000000 li.RowLastLi{height:23px;border-bottom:5px solid #F5B7DA;}
#C1200000000.BGH{background:transparent url(/ecm/img/de/0/bt_0_007/header_menu_bg02.gif) repeat-x;}
#bt_0_007_01 #C1200000000 .MoMoDDMSub {border-top:5px solid #a8eba8;}
#bt_0_007_01 #C1200000000 .MoMoDDMSub li{border-left:5px solid #a8eba8;border-right:1px solid #a8eba8;background:#FFFFFF url(/ecm/img/de/0/bt_0_007/menu_bgdot_12.gif) repeat-x scroll 0 27px;}
#bt_0_007_01 #C1200000000 .MoMoDDMSub .BGH{background-color:#339900;}
#bt_0_007_01 #C1200000000 li.RightLi{width:129px;border-left:0px;border-right:1px solid #a8eba8;}
#bt_0_007_01 #C1200000000 li.RightLastLi{border-right:5px solid #a8eba8;}
#bt_0_007_01 #C1200000000 li.RowLastLi{height:23px;border-bottom:5px solid #a8eba8;}
#C1300000000.BGH{background:transparent url(/ecm/img/de/0/bt_0_007/header_menu_bg03.gif) repeat-x;}
#bt_0_007_01 #C1300000000 .MoMoDDMSub {border-top:5px solid #faabd2;}
#bt_0_007_01 #C1300000000 .MoMoDDMSub li{border-left:5px solid #faabd2;border-right:1px solid #faabd2;background:#FFFFFF url(/ecm/img/de/0/bt_0_007/menu_bgdot_13.gif) repeat-x scroll 0 27px;}
#bt_0_007_01 #C1300000000 .MoMoDDMSub .BGH{background-color:#E97AB1;}
#bt_0_007_01 #C1300000000 li.RightLi{width:129px;border-left:0px;border-right:1px solid #faabd2;}
#bt_0_007_01 #C1300000000 li.RightLastLi{border-right:5px solid #faabd2;}
#bt_0_007_01 #C1300000000 li.RowLastLi{height:23px;border-bottom:5px solid #faabd2;}
#C1400000000.BGH{background:transparent url(/ecm/img/de/0/bt_0_007/header_menu_bg04.gif) repeat-x;}
#bt_0_007_01 #C1400000000 .MoMoDDMSub {border-top:5px solid #cc99ff;}
#bt_0_007_01 #C1400000000 .MoMoDDMSub li{border-left:5px solid #cc99ff;border-right:1px solid #cc99ff;background:#FFFFFF url(/ecm/img/de/0/bt_0_007/menu_bgdot_14.gif) repeat-x scroll 0 27px;}
#bt_0_007_01 #C1400000000 .MoMoDDMSub .BGH{background-color:#9933CC;}
#bt_0_007_01 #C1400000000 li.RightLi{width:129px;border-left:0px;border-right:1px solid #cc99ff;}
#bt_0_007_01 #C1400000000 li.RightLastLi{border-right:5px solid #cc99ff;}
#bt_0_007_01 #C1400000000 li.RowLastLi{height:23px;border-bottom:5px solid #cc99ff;}
#C1500000000.BGH{background:transparent url(/ecm/img/de/0/bt_0_007/header_menu_bg05.gif) repeat-x;}
#bt_0_007_01 #C1500000000 .MoMoDDMSub {border-top:5px solid #dccac0;}
#bt_0_007_01 #C1500000000 .MoMoDDMSub li{border-left:5px solid #dccac0;border-right:1px solid #dccac0;background:#FFFFFF url(/ecm/img/de/0/bt_0_007/menu_bgdot_15.gif) repeat-x scroll 0 27px;}
#bt_0_007_01 #C1500000000 .MoMoDDMSub .BGH{background-color:#886F61;}
#bt_0_007_01 #C1500000000 li.RightLi{width:129px;border-left:0px;border-right:1px solid #dccac0;}
#bt_0_007_01 #C1500000000 li.RightLastLi{border-right:5px solid #dccac0;}
#bt_0_007_01 #C1500000000 li.RowLastLi{height:23px;border-bottom:5px solid #dccac0;}
#C1600000000.BGH{background:transparent url(/ecm/img/de/0/bt_0_007/header_menu_bg06.gif) repeat-x;}
#bt_0_007_01 #C1600000000 .MoMoDDMSub {border-top:5px solid #9dd9e0;}
#bt_0_007_01 #C1600000000 .MoMoDDMSub li{border-left:5px solid #9dd9e0;border-right:1px solid #9dd9e0;background:#FFFFFF url(/ecm/img/de/0/bt_0_007/menu_bgdot_16.gif) repeat-x scroll 0 27px;}
#bt_0_007_01 #C1600000000 .MoMoDDMSub .BGH{background-color:#0099CC;}
#bt_0_007_01 #C1600000000 li.RightLi{width:129px;border-left:0px;border-right:1px solid #9dd9e0;}
#bt_0_007_01 #C1600000000 li.RightLastLi{border-right:5px solid #9dd9e0;}
#bt_0_007_01 #C1600000000 li.RowLastLi{height:23px;border-bottom:5px solid #9dd9e0;}
#C1700000000.BGH{background:transparent url(/ecm/img/de/0/bt_0_007/header_menu_bg07.gif) repeat-x;}
#bt_0_007_01 #C1700000000 .MoMoDDMSub {border-top:5px solid #7aedc7;}
#bt_0_007_01 #C1700000000 .MoMoDDMSub li{border-left:5px solid #7aedc7;border-right:1px solid #7aedc7;background:#FFFFFF url(/ecm/img/de/0/bt_0_007/menu_bgdot_17.gif) repeat-x scroll 0 27px;}
#bt_0_007_01 #C1700000000 .MoMoDDMSub .BGH{background-color:#00BC7E;}
#bt_0_007_01 #C1700000000 li.RightLi{width:129px;border-left:0px;border-right:1px solid #7aedc7;}
#bt_0_007_01 #C1700000000 li.RightLastLi{border-right:5px solid #7aedc7;}
#bt_0_007_01 #C1700000000 li.RowLastLi{height:23px;border-bottom:5px solid #7aedc7;}
#C1800000000.BGH{background:transparent url(/ecm/img/de/0/bt_0_007/header_menu_bg08.gif) repeat-x;}
#bt_0_007_01 #C1800000000 .MoMoDDMSub {border-top:5px solid #e993a6;}
#bt_0_007_01 #C1800000000 .MoMoDDMSub li{border-left:5px solid #e993a6;border-right:1px solid #e993a6;background:#FFFFFF url(/ecm/img/de/0/bt_0_007/menu_bgdot_18.gif) repeat-x scroll 0 27px;}
#bt_0_007_01 #C1800000000 .MoMoDDMSub .BGH{background-color:#AB3B54;}
#bt_0_007_01 #C1800000000 li.RightLi{width:129px;border-left:0px;border-right:1px solid #e993a6;}
#bt_0_007_01 #C1800000000 li.RightLastLi{border-right:5px solid #e993a6;}
#bt_0_007_01 #C1800000000 li.RowLastLi{height:23px;border-bottom:5px solid #e993a6;}
#C1900000000.BGH{background:transparent url(/ecm/img/de/0/bt_0_007/header_menu_bg09.gif) repeat-x;}
#bt_0_007_01 #C1900000000 .MoMoDDMSub {border-top:5px solid #87a3f6;}
#bt_0_007_01 #C1900000000 .MoMoDDMSub li{border-left:5px solid #87a3f6;border-right:1px solid #87a3f6;background:#FFFFFF url(/ecm/img/de/0/bt_0_007/menu_bgdot_19.gif) repeat-x scroll 0 27px;}
#bt_0_007_01 #C1900000000 .MoMoDDMSub .BGH{background-color:#0033CC;}
#bt_0_007_01 #C1900000000 li.RightLi{width:129px;border-left:0px;border-right:1px solid #87a3f6;}
#bt_0_007_01 #C1900000000 li.RightLastLi{border-right:5px solid #87a3f6;}
#bt_0_007_01 #C1900000000 li.RowLastLi{height:23px;border-bottom:5px solid #87a3f6;}
#C2000000000.BGH{background:transparent url(/ecm/img/de/0/bt_0_007/header_menu_bg10.gif) repeat-x;}
#bt_0_007_01 #C2000000000 .MoMoDDMSub {border-top:5px solid #ffd4b8;}
#bt_0_007_01 #C2000000000 .MoMoDDMSub li{border-left:5px solid #ffd4b8;border-right:1px solid #ffd4b8;background:#FFFFFF url(/ecm/img/de/0/bt_0_007/menu_bgdot_20.gif) repeat-x scroll 0 27px;}
#bt_0_007_01 #C2000000000 .MoMoDDMSub .BGH{background-color:#FF6E0D;}
#bt_0_007_01 #C2000000000 li.RightLi{width:129px;border-left:0px;border-right:1px solid #ffd4b8;}
#bt_0_007_01 #C2000000000 li.RightLastLi{border-right:5px solid #ffd4b8;}
#bt_0_007_01 #C2000000000 li.RowLastLi{height:23px;border-bottom:5px solid #ffd4b8;}
#C2100000000.BGH{background:transparent url(/ecm/img/de/0/bt_0_007/header_menu_bg11.gif) repeat-x;}
#bt_0_007_01 #C2100000000 .MoMoDDMSub {border-top:5px solid #dcdac0;}
#bt_0_007_01 #C2100000000 .MoMoDDMSub li{border-left:5px solid #dcdac0;border-right:1px solid #dcdac0;background:#FFFFFF url(/ecm/img/de/0/bt_0_007/menu_bgdot_21.gif) repeat-x scroll 0 27px;}
#bt_0_007_01 #C2100000000 .MoMoDDMSub .BGH{background-color:#886f61;}
#bt_0_007_01 #C2100000000 li.RightLi{width:129px;border-left:0px;border-right:1px solid #dcdac0;}
#bt_0_007_01 #C2100000000 li.RightLastLi{border-right:5px solid #dcdac0;}
#bt_0_007_01 #C2100000000 li.RowLastLi{height:23px;border-bottom:5px solid #dcdac0;}
#C2200000000.BGH{background:transparent url(/ecm/img/de/0/bt_0_007/header_menu_bg12.gif) repeat-x;}
#bt_0_007_01 #C2200000000 .MoMoDDMSub {border-top:5px solid #ff9b9b;}
#bt_0_007_01 #C2200000000 .MoMoDDMSub li{border-left:5px solid #ff9b9b;border-right:1px solid #ff9b9b;background:#FFFFFF url(/ecm/img/de/0/bt_0_007/menu_bgdot_22.gif) repeat-x scroll 0 27px;}
#bt_0_007_01 #C2200000000 .MoMoDDMSub .BGH{background-color:#660000;}
#bt_0_007_01 #C2200000000 li.RightLi{width:129px;border-left:0px;border-right:1px solid #ff9b9b;}
#bt_0_007_01 #C2200000000 li.RightLastLi{border-right:5px solid #ff9b9b;}
#bt_0_007_01 #C2200000000 li.RowLastLi{height:23px;border-bottom:5px solid #ff9b9b;}
#C2400000000.BGH{background:transparent url(/ecm/img/de/0/bt_0_007/header_menu_bg11.gif) repeat-x;}
#bt_0_007_01 #C2400000000 .MoMoDDMSub {border-top:5px solid #dcdac0;}
#bt_0_007_01 #C2400000000 .MoMoDDMSub li{border-left:5px solid #dcdac0;border-right:1px solid #dcdac0;background:#FFFFFF url(/ecm/img/de/0/bt_0_007/menu_bgdot_21.gif) repeat-x scroll 0 27px;}
#bt_0_007_01 #C2400000000 .MoMoDDMSub .BGH{background-color:#886f61;}
#bt_0_007_01 #C2400000000 li.RightLi{width:129px;border-left:0px;border-right:1px solid #dcdac0;}
#bt_0_007_01 #C2400000000 li.RightLastLi{border-right:5px solid #dcdac0;}
#bt_0_007_01 #C2400000000 li.RowLastLi{height:23px;border-bottom:5px solid #dcdac0;}
#bt_0_007_01 .Menu .MoMoDDM .C2200000000{color:#666666;}
#bt_0_007_01 .MoMoDDMSub{float:none;z-index: 200;position: absolute;border: 0px;display: none;}
#bt_0_007_01 .Menu .MoMoDDM li ul.DMover{display: block;z-index: 200;}
#bt_0_007_01 .Menu .MoMoDDMHead .MoMoDDMSub li.RightLi{width:129px;}
#bt_0_007_01 .SubMenu{height:28px;width:980px;}
#bt_0_007_01 .SubMenu .MainSubMenu{height:28px;width:980px;}
#bt_0_007_01 .SubMenu ul{height:28px;margin:0 40px;}
#bt_0_007_01 .SubMenu ul li{height:28px;float:left;line-height:19px;display:inline;}
#bt_0_007_01 .SubMenu ul li a{height:20px;margin-top:4px;border-right:1px solid black;white-space:nowrap;display:inline-block;padding:0 10px;color:#ffffff;font-size:12px;font-family:"Arial","سӓʺƩ";text-decoration:none;}
#bt_0_007_01 .SubMenu ul li a span{height:20px;}
#bt_0_007_01 .SubMenu ul li a.main{color:#000000;background-color:#FFFFFF;}
#bt_0_007_01 .SubMenu ul li a.first{border-left:1px solid black;}
#bt_0_007_01 .SubMenu ul li a.selected{color:#000000;background-color:#FFFFFF;}
#bt_0_007_01 .SubMenu .C1{background-image:url(/tooth_img/images/menu_bg_01.gif)}
#bt_0_007_01 .SubMenu.M1 ul li{background-image:url(/tooth_img/images/menu_bg_01.gif)}
#bt_0_007_01 .SubMenu .M2{background-image:url(/tooth_img/images/menu_bg_02.gif)}
#bt_0_007_01 .SubMenu.M2 ul li{background-image:url(/tooth_img/images/menu_bg_02.gif)}
#bt_0_007_01 .SubMenu .M3{background-image:url(/tooth_img/images/menu_bg_03.gif)}
#bt_0_007_01 .SubMenu.M3 ul li{background-image:url(/tooth_img/images/menu_bg_03.gif)}
#bt_0_007_01 .SubMenu .M4{background-image:url(/tooth_img/images/menu_bg_04.gif)}
#bt_0_007_01 .SubMenu.M4 ul li{background-image:url(/tooth_img/images/menu_bg_04.gif)}
#bt_0_007_01 .SubMenu .M5{background-image:url(/tooth_img/images/menu_bg_05.gif)}
#bt_0_007_01 .SubMenu.M5 ul li{background-image:url(/tooth_img/images/menu_bg_05.gif)}
#bt_0_007_01 .SubMenu .M6{background-image:url(/tooth_img/images/menu_bg_06.gif)}
#bt_0_007_01 .SubMenu.M6 ul li{background-image:url(/tooth_img/images/menu_bg_06.gif)}
#bt_0_007_01 .SubMenu .M7{background-image:url(/tooth_img/images/menu_bg_07.gif)}
#bt_0_007_01 .SubMenu.M7 ul li{background-image:url(/tooth_img/images/menu_bg_07.gif)}
#bt_0_007_01 .SubMenu .M8{background-image:url(/tooth_img/images/menu_bg_08.gif)}
#bt_0_007_01 .SubMenu.M8 ul li{background-image:url(/tooth_img/images/menu_bg_08.gif)}
#bt_0_007_01 .SubMenu .M9{background-image:url(/tooth_img/images/menu_bg_09.gif)}
#bt_0_007_01 .SubMenu.M9 ul li{background-image:url(/tooth_img/images/menu_bg_09.gif)}
#bt_0_007_01 .SubMenu .M10{background-image:url(/tooth_img/images/menu_bg_10.gif)}
#bt_0_007_01 .SubMenu.M10 ul li{background-image:url(/tooth_img/images/menu_bg_10.gif)}
#bt_0_007_01 .SubMenu .M11{background-image:url(/tooth_img/images/menu_bg_10.gif)}
#bt_0_007_01 .SubMenu.M11 ul li{background-image:url(/tooth_img/images/menu_bg_10.gif)}
#bt_0_043_01{height:30px;width:980px;}
#bt_0_043_01 .MainSubMenu{height:30px;width:980px;}
#bt_0_043_01 ul{height:30px;margin:0 40px;}
#bt_0_043_01 ul li{height:28px;float:left;line-height:19px;display:inline;}
#bt_0_043_01 ul li a{height:20px;margin-top:4px;border-right:1px solid black;white-space:nowrap;display:inline-block;padding:0 10px;color:#ffffff;font-size:12px;font-family:"Arial","?s?ө???";text-decoration:none;}
#bt_0_043_01 ul li a .icon{width:32px;height:16px;vertical-align:middle;margin-left:3px;}
#bt_0_043_01 ul li a span{height:20px;color:#FFFFFF;}
#bt_0_043_01 ul li a.main span{color:#000000;}
#bt_0_043_01 ul li a.main{color:#000000;background-color:#FFFFFF;}
#bt_0_043_01 ul li a.first{border-left:1px solid black;}
#bt_0_043_01 ul li a.selected{color:#000000;background-color:#FFFFFF;}
#bt_0_043_01 ul li a.selected span{color:#000000;}
#bt_0_043_01 .C11{background-color:#FC8DB2;}
#bt_0_043_01.C11 ul li{background-color:#FC8DB2;}
#bt_0_043_01 .C12{background-color:#339900;}
#bt_0_043_01.C12 ul li{background-color:#339900;}
#bt_0_043_01 .C13{background-color:#E97AB1;}
#bt_0_043_01.C13 ul li{background-color:#E97AB1;}
#bt_0_043_01 .C14{background-color:#9933cc;}
#bt_0_043_01.C14 ul li{background-color:#9933cc;}
#bt_0_043_01 .C15{background-color:#886f61;}
#bt_0_043_01.C15 ul li{background-color:#886f61;}
#bt_0_043_01 .C16{background-color:#0099CC}
#bt_0_043_01.C16 ul li{background-color:#0099CC}
#bt_0_043_01 .C17{background-color:#00BC7E}
#bt_0_043_01.C17 ul li{background-color:#00BC7E}
#bt_0_043_01 .C18{background-color:#AB3B54}
#bt_0_043_01.C18 ul li{background-color:#AB3B54}
#bt_0_043_01 .C19{background-color:#0033CC;}
#bt_0_043_01.C19 ul li{background-color:#0033CC;}
#bt_0_043_01 .C20{background-color:#FF6E0D;}
#bt_0_043_01.C20 ul li{background-color:#FF6E0D;}
#bt_0_043_01 .C21{background-color:#886f61;}
#bt_0_043_01.C21 ul li{background-color:#886f61;}
#bt_0_043_01 .C22{background-color:#660000;}
#bt_0_043_01.C22 ul li{background-color:#660000;}
#bt_0_043_01 .C24{background-color:#886f61;}
#bt_0_043_01.C24 ul li{background-color:#886f61;}

.Nav ,.Nav a{color:#666666}
.Nav a:hover, .Nav a:active{color:#0066FF;text-decoration:none}
    
#Top5{height:3px;overflow:hidden;background:transparent url(/ecm/img/cmm/main/header_line2.gif) repeat-x;}

#Bottom1{height:15px;overflow:hidden;background:transparent url(/ecm/img/cmm/main/mid_banner.gif)}
#Bottom2{height:60px;margin-top:10px;overflow:hidden;}
#lo_0_bottom{margin-top:15px;}
#bt_0_layout_b111{width:980px;height:60px;overflow:hidden;}
#bt_0_040_01{width:980px;height:60px;}
#bt_0_040_01 ul{width:978px;height:60px;overflow:hidden;margin-left:1px;}
#bt_0_040_01 ul li{width:180px;height:60px;margin-left:13px;float:left;}
#bt_0_040_01 ul li.DEL{display:none;}
#bt_0_040_01 ul li a img{width:180px;height:60px;}

#Bottom3{margin-top:10px;overflow:hidden;}
#bt_0_layout_b112{width:980px;overflow:hidden;}
#bt_0_041_01{width:980px;}
#bt_0_041_01 .imgs{width:980px;overflow:hidden;}
#bt_0_041_01 .imgs div{float:left;}
#bt_0_041_01 .imgs div a img{border:0px;}

#Bottom4{height:150px;margin-top:5px;overflow:hidden;}
#bt_0_layout_b113{width:980px;overflow:hidden;}
#bt_0_042_01{width:980px;height:150px;}
#bt_0_042_01 .P1{width:980px;height:25px;color:#666666;line-height:25px;text-align:center;background-color:#e3e3e3;}
#bt_0_042_01 .P1 a{color:#666666;}
#bt_0_042_01 .b1{width:161px;height:79px;margin-top:5px;float:left;overflow:hidden;}
#bt_0_042_01 .b2 {width:440px;height:79px;color:#666666;margin-top:5px;float:left;overflow:hidden;}
#bt_0_042_01 .b2 .cpname{color:#333333;font-weight:bold;}
#bt_0_042_01 .b2 a{color:#666666;}
#bt_0_042_01 .b21{margin-top:10px;}
#bt_0_042_01 .b21 span{color:#0066CC}
#bt_0_042_01 .b3{width:369px;height:79px;margin-top:5px;float:left;text-align:right;}

/* for keyword search*/
.ac_results{border:1px solid black;z-index: 99999;overflow: hidden;background-color:white;text-align:left;}
.ac_results UL{width:100%;}
.ac_results LI{padding:0 0 0 2px;display:block;font-size:12px;overflow:hidden;cursor:default;line-height: 24px;}
.ac_odd{background-color:#eee;}
.ac_over{color:white;background-color:#ffd8ec;}

/* for login*/
.loginTxt{width:278px;_width:250px;height:19px;line-height:19px;;display:block;float:left;margin:4px 0 0 5px;}

/* for 6th momo happy birthday*/
#MoMoHappyBirthday{width:95px;_width:100px;margin-top:4px;float:left;display:none;}
#MoMoHappyBirthday dl dd{float:left;margin-left:2px;}
#MoMoHappyBirthday dl dd img{width:17px;height:17px;border:0px;}
#MoMoHappyBirthday p{width:95px;text-align:right;}
#MoMoHappyBirthday p a{color:#666666;text-decoration:underline;}
#MoMoHappyBirthday p a span{color:#0066CC;}
#MoMoHappyBirthdayWord{width:58px;height:58px;overflow:hidden;float:left;display:none;}
#MoMoHappyBirthdayWord a img{border:0px}

/* for Lgrp more*/
.More a{color:#666666;}



