.v1 {
	font-family: "ËÎÌו";
	font-size: 14px;
	text-decoration: none;
}
td {
	font-size: 12px;
	line-height: 18px;
}
.vinput {
	font-size: 12px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #FFFFFF;
}
