A:link {
	FONT-SIZE: 12px; COLOR: #333333; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 12px; COLOR: #333333; TEXT-DECORATION: none
}
A:active {
	FONT-SIZE: 12px; COLOR: #cc0000; TEXT-DECORATION: underline
}
A:hover {
	FONT-SIZE: 12px; COLOR: #cc0000; TEXT-DECORATION: underline
}
.ad {
	COLOR: #0066cc; LINE-HEIGHT: 18px
}
.ad A:link {
	COLOR: #0066cc; TEXT-DECORATION: none
}
.ad A:visited {
	COLOR: #0066cc; TEXT-DECORATION: none
}
.ad A:hover {
	COLOR: #0066cc; TEXT-DECORATION: underline
}
.white {
	COLOR: #ffffff; LINE-HEIGHT: 18px
}
.white TD {
	COLOR: #ffffff; LINE-HEIGHT: 18px
}
.white A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.white A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.white A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.a1 {
	COLOR: #ff6600; LINE-HEIGHT: 18px
}
.a1 TD {
	COLOR: #ff6600; LINE-HEIGHT: 18px
}
.a1 A:link {
	COLOR: #ff6600; TEXT-DECORATION: none
}
.a1 A:visited {
	COLOR: #ff6600; TEXT-DECORATION: none
}
.a1 A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
.a2 {
	COLOR: #4b4b4b; LINE-HEIGHT: 18px
}
.a2 TD {
	COLOR: #4b4b4b; LINE-HEIGHT: 18px
}
.a2 A:link {
	COLOR: #4b4b4b; TEXT-DECORATION: none
}
.a2 A:visited {
	COLOR: #4b4b4b; TEXT-DECORATION: none
}
.a2 A:hover {
	COLOR: #4b4b4b; TEXT-DECORATION: underline
}
.oum TD {
	COLOR: #4b4b4b; LINE-HEIGHT: 18px
}
.oum A:link {
	COLOR: #4b4b4b; TEXT-DECORATION: none
}
.oum A:visited {
	COLOR: #4b4b4b; TEXT-DECORATION: none
}
.oum A:hover {
	COLOR: #4b4b4b; TEXT-DECORATION: underline
}
.onm TD {
	CURSOR: hand; COLOR: #246f00; LINE-HEIGHT: 18px; BACKGROUND-COLOR: #e8f9e1
}
.onm A:link {
	COLOR: #246f00; TEXT-DECORATION: none
}
.onm A:visited {
	COLOR: #246f00; TEXT-DECORATION: none
}
.onm A:hover {
	COLOR: #246f00; TEXT-DECORATION: underline
}
.a3 {
	COLOR: #246f00; LINE-HEIGHT: 18px
}
.a3 A:link {
	COLOR: #246f00; TEXT-DECORATION: none
}
.a3 A:visited {
	COLOR: #246f00; TEXT-DECORATION: none
}
.a3 A:hover {
	COLOR: #246f00; TEXT-DECORATION: underline
}
A.a5:link {
	COLOR: #ff6600; TEXT-DECORATION: none
}
A.a5:visited {
	COLOR: #ff6600; TEXT-DECORATION: none
}
A.a5:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
.bg1 {
	BACKGROUND-POSITION: 50% bottom; BACKGROUND-REPEAT: no-repeat
}
.bg2 {
	BORDER-RIGHT: #d9d6b8 1px solid; BORDER-TOP: #d9d6b8 1px solid; BORDER-LEFT: #d9d6b8 1px solid; BORDER-BOTTOM: #d9d6b8 1px solid; BACKGROUND-COLOR: #ebeadf
}
.bg3 {
	BORDER-RIGHT: #e3e3e3 1px solid; BORDER-TOP: #e3e3e3 1px solid; BORDER-LEFT: #e3e3e3 1px solid; BORDER-BOTTOM: #e3e3e3 1px solid; BACKGROUND-COLOR: #ffffff
}
.bg3 A:link {
	COLOR: #46a718; TEXT-DECORATION: none
}
.bg3 A:visited {
	COLOR: #46a718; TEXT-DECORATION: none
}
.bg3 A:hover {
	COLOR: #46a718; TEXT-DECORATION: underline
}
.bg4 {
	BORDER-RIGHT: #74c151 1px solid; BORDER-TOP: #74c151 1px solid; BORDER-LEFT: #74c151 1px solid; BORDER-BOTTOM: #74c151 1px solid
}
.bg5 {
	BORDER-RIGHT: #fb8e0c 1px solid; BORDER-TOP: #fb8e0c 1px solid; BORDER-LEFT: #fb8e0c 1px solid; BORDER-BOTTOM: #fb8e0c 1px solid; BACKGROUND-COLOR: #ebeadf
}
.bg6 {
	BACKGROUND-POSITION: 50% top; BACKGROUND-REPEAT: repeat-x
}
.z1 {
	COLOR: #246f00
}
.down:hover {
	RIGHT: 0px; POSITION: relative; TOP: 1px; TEXT-DECORATION: none
}
